.grade-child,
.grade-item {
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 0;
  width: 1515px;
  height: 165px;
  object-fit: cover;
  z-index: 0;
}
.grade-item {
  top: 0;
  width: 1440px;
  height: 1551px;
  z-index: 1;
}
.book-cover-child {
  position: absolute;
  top: 0.15px;
  left: 0;
  border-radius: var(--br-lgi);
  width: 255.56px;
  height: 246px;
}
.screenshot-86-2 {
  position: absolute;
  top: 31px;
  left: 113.5px;
  border-radius: 9.23px;
  width: 126.98px;
  height: 204px;
  object-fit: cover;
}
.layer-blur-book {
  position: absolute;
  top: 5px;
  left: 24.24px;
  background-color: var(--color-gray-200);
  filter: blur(10px);
  width: 138.61px;
  height: 235px;
}
.screenshot-86-1 {
  position: relative;
  border-radius: 7.66px;
  width: 165px;
  height: 235.87px;
  object-fit: cover;
}
.screenshot-86-1-wrapper {
  position: absolute;
  top: 5px;
  left: 7.77px;
  width: 158.54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.book-cover,
.grade-overlay-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 255.56px;
  height: 246px;
}
.grade-overlay-child {
  top: 0.07px;
  border-radius: var(--br-lgi);
  width: 254.48px;
  height: 122px;
}
.grade-9-wrapper {
  position: absolute;
  top: 34.85px;
  left: 14.75px;
  width: 130.24px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.grade-overlay,
.grade-overlay-item {
  position: absolute;
  top: 13.11px;
  left: 153.79px;
  width: 77.18px;
  height: 94.35px;
}
.grade-overlay {
  top: 124.48px;
  left: 1.52px;
  width: 254.48px;
  height: 122px;
}
.book-photo {
  align-self: stretch;
  position: relative;
  height: 246.48px;
}
.boo-cover {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title-child {
  position: relative;
  width: 30.46px;
  height: 31.59px;
}
.history {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
}
.history-wrapper {
  width: 101.5px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-smi-5);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
}
.view-more {
  position: relative;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-source-serif-pro);
  color: var(--color-black);
  text-align: left;
}
.title,
.view-more-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.view-more-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lightskyblue);
  border-radius: var(--br-lgi);
  width: 94px;
  box-sizing: border-box;
  justify-content: center;
}
.title {
  align-self: stretch;
  padding: 0 var(--padding-mini-5);
  justify-content: space-between;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.description1,
.lorem-ipsum-dolor {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.lorem-ipsum-dolor {
  color: var(--color-black);
}
.boo-cover3,
.book-box,
.description {
  flex-direction: column;
  justify-content: flex-start;
}
.description {
  align-self: stretch;
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcyan-200);
  display: flex;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.boo-cover3,
.book-box {
  align-items: center;
}
.book-box {
  border-radius: var(--br-lg);
  background-color: var(--color-lightcyan-100);
  width: 280px;
  display: flex;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.boo-cover3 {
  z-index: 0;
}
.boo-cover3,
.description6,
.title3 {
  align-self: stretch;
  display: flex;
}
.title3 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-mini-5);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.description6 {
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcyan-200);
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.add-circle-undefined {
  position: absolute;
  margin: 0 !important;
  top: 73px;
  left: 96px;
  width: 96px;
  height: 96px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.add-circle-undefined-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 148px;
  left: -2px;
  border-radius: var(--br-base-5) var(--br-base) var(--br-base) var(--br-base);
  background-color: rgba(255, 255, 255, 0.74);
  backdrop-filter: blur(7.5px);
  border: 1.5px solid #0e0e0e;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}
.add-circle-undefined-wrapper,
.book-box-parent,
.book-box3 {
  display: flex;
  justify-content: flex-start;
}
.book-box3 {
  border-radius: var(--br-lg);
  background-color: var(--color-lightcyan-100);
  width: 280px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  position: relative;
  gap: var(--gap-xs);
}
.book-box-parent {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-53xl) var(--padding-141xl);
  align-items: flex-start;
  gap: 36px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
.recommendation {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.frame-child {
  position: relative;
  width: 239.5px;
  height: 3.5px;
}
.recommendation-parent {
  width: 300px;
  height: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 13px;
}
.all {
  position: relative;
  font-size: 25.14px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-black);
  text-align: left;
}
.all-wrapper {
  cursor: pointer;
  border: 1.7px solid var(--color-black);
  padding: 13.86947250366211px;
  background-color: var(--color-whitesmoke);
  border-radius: 28.61px;
  box-sizing: border-box;
  width: 57.79px;
  height: 45.08px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.study-guide {
  position: relative;
  font-size: 25.14px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: left;
}
.frame-container,
.study-guide-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.study-guide-wrapper {
  cursor: pointer;
  border: 1.7px solid var(--color-whitesmoke);
  padding: 13.86947250366211px;
  background-color: transparent;
  border-radius: 28.61px;
  height: 45.08px;
  align-items: center;
}
.frame-container {
  border-radius: 32.5px;
  width: 1118px;
  flex-wrap: wrap;
  padding: var(--padding-5xs);
  align-items: flex-start;
  gap: 32px;
}
.frame-item {
  position: relative;
  border-radius: var(--br-lgi);
  width: 287.96px;
  height: 246px;
  z-index: 0;
}
.history4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 139px;
  flex-shrink: 0;
}
.group-parent,
.view-more-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.view-more-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lightskyblue);
  border-radius: var(--br-lgi);
  justify-content: flex-start;
}
.group-parent {
  align-self: stretch;
  padding: 0 var(--padding-mini-5);
  justify-content: center;
  gap: var(--gap-5xs);
  z-index: 1;
}
.description8,
.lorem-ipsum-dolor4 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 250px;
}
.lorem-ipsum-dolor4 {
  color: var(--color-black);
}
.description-parent {
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcyan-200);
  height: 102px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.rectangle-div,
.screenshot-86-24 {
  position: absolute;
  margin: 0 !important;
}
.screenshot-86-24 {
  top: 47px;
  left: 143px;
  border-radius: 9.23px;
  width: 146.58px;
  height: 204px;
  object-fit: cover;
  z-index: 3;
}
.rectangle-div {
  top: 21px;
  left: 40px;
  background-color: var(--color-gray-200);
  filter: blur(10px);
  width: 160px;
  height: 235px;
  z-index: 4;
}
.screenshot-86-14 {
  position: relative;
  border-radius: 7.66px;
  width: 165px;
  height: 235.87px;
  object-fit: cover;
  z-index: 0;
}
.frame-child1 {
  top: 119.07px;
  left: -6px;
  border-radius: var(--br-lgi);
  width: 288px;
  height: 122px;
  z-index: 1;
}
.frame-child1,
.grade-94,
.screenshot-86-1-parent {
  margin: 0 !important;
  position: absolute;
}
.grade-94 {
  top: 162px;
  left: 42px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.screenshot-86-1-parent {
  top: 21px;
  left: 21px;
  width: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9.43px;
  z-index: 5;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.frame-child2 {
  position: absolute;
  margin: 0 !important;
  top: 153px;
  left: 189px;
  width: 87.41px;
  height: 94.46px;
  z-index: 6;
}
.frame-wrapper,
.vector-parent {
  display: flex;
  justify-content: flex-start;
}
.vector-parent {
  border-radius: var(--br-lg);
  background-color: var(--color-lightcyan-100);
  width: 316px;
  height: 445px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  position: relative;
  gap: var(--gap-xs);
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-141xl);
  align-items: flex-start;
}
.slide-indicator-icon {
  position: relative;
  width: 119.96px;
  height: 19.99px;
}
.frame-group,
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-group {
  overflow: hidden;
  padding: 90px 0 86px;
  gap: 34.5px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-source-serif-pro);
}
.frame-parent {
  padding: var(--padding-xs) 0;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
.study-tips {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.line-icon {
  position: absolute;
  top: 59.18px;
  left: 22.75px;
  width: 129.25px;
  height: 3.51px;
}
.study-tips-parent {
  position: relative;
  width: 175px;
  height: 60.94px;
}
.frame-child3,
.frame-section {
  align-self: stretch;
  height: 737px;
}
.frame-section {
  background-color: var(--color-white);
  height: 976px;
  display: flex;
  flex-direction: column;
  padding: 64px var(--padding-141xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
.untitled-13x-1-icon {
  position: relative;
  width: 33px;
  height: 32.27px;
  object-fit: cover;
}
.miiltoo {
  position: relative;
  text-transform: capitalize;
}
.untitled-13x-1-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5px;
}
.home {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.grade-wrapper,
.pages-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.grade-wrapper {
  padding: 0 var(--padding-mini-5);
}
.pages-wrapper {
  padding: 0 34.5px;
}
.social-media-wrapper {
  padding: 0 9px;
  justify-content: flex-start;
}
.home-parent,
.social-media-wrapper,
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-parent {
  flex: 1;
  padding: 0 101px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 78.5px;
  min-width: 512px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
}
.top {
  align-self: stretch;
  background-color: rgba(138, 138, 138, 0.13);
  backdrop-filter: blur(16px);
  padding: 0 var(--padding-141xl) 0 125px;
  justify-content: center;
  gap: var(--gap-5xs);
}
.grade-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.grade-101 {
  margin: 0;
}
.grade-10 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 73px;
  height: 19px;
  flex-shrink: 0;
}
.grade-9-parent {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.contact {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 62px;
  height: 20px;
  flex-shrink: 0;
}
.frame-parent1 {
  width: 706px;
  height: 147px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 65.5px;
}
.footer-inner {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.footer-text {
  position: relative;
  line-height: 21.75px;
}
.content,
.footer,
.untitled-13x-1-group {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.untitled-13x-1-group {
  background-color: #042f34;
  height: 58.31px;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-mini-5);
  color: #c8c8c8;
  font-family: var(--font-inter);
}
.content,
.footer {
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  background-color: #003e45;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 31.99px;
  color: var(--color-white);
  font-family: var(--font-pacifico);
}
.content {
  overflow-y: auto;
  padding: var(--padding-53xl) 0 0;
  z-index: 2;
}
.header-child {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  width: 1440px;
  height: 56px;
  display: none;
  z-index: 0;
}
.miiltoo1 {
  position: absolute;
  top: calc(50% - 28px);
  left: 0;
  text-transform: capitalize;
  display: inline-block;
  width: 247px;
}
.untitled-13x-1-icon2 {
  position: absolute;
  top: 12px;
  left: 33px;
  width: 36px;
  height: 31.68px;
  object-fit: cover;
}
.miiltoo-parent {
  position: relative;
  width: 247px;
  height: 56px;
  z-index: 1;
  text-align: center;
  font-size: 31.99px;
  font-family: var(--font-pacifico);
}
.home1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}
.home-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
  min-width: 512px;
  z-index: 2;
}
.login,
.signup {
  position: relative;
  text-transform: capitalize;
}
.login {
  font-weight: 600;
  display: inline-block;
  width: 43.06px;
  flex-shrink: 0;
}
.signup {
  font-weight: 500;
}
.signup-wrapper {
  border-radius: var(--br-base-5);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 86px;
  height: 26px;
  padding: var(--padding-5xs);
  font-size: var(--font-size-mini-5);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
.header,
.login-parent,
.signup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-parent {
  width: 149px;
  height: 27px;
  gap: 12.5px;
  z-index: 3;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  padding: 0 var(--padding-141xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  background-image: url(./public/header@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
.frame-child4 {
  position: relative;
  width: 42px;
  height: 22px;
}
.textbook-container {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  align-items: center;
  justify-content: center;
}
.grade-96 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  text-transform: lowercase;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 79px;
}
.grade-9-wrapper2,
.group-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grade-9-wrapper2 {
  align-self: stretch;
  flex-direction: column;
  padding: 7px 0;
  font-size: 22px;
}
.group-container {
  flex-direction: row;
  padding: 0 var(--padding-5xs);
  gap: 4px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.search-bar-child {
  position: relative;
  width: 36px;
  height: 36px;
}
.search-bar {
  position: absolute;
  top: 120px;
  left: 0;
  background-color: rgba(46, 46, 46, 0.91);
  backdrop-filter: blur(65.5px);
  width: 64px;
  height: 1440px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 100px var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 932px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.header-parent {
  position: relative;
  width: 1440px;
  height: 120px;
}
.grade,
.top-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.top-menu {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.grade {
  position: relative;
  background-color: #f1fcff;
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
