accelerate
aiofiles==23.1.0
aiogram
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.12.0
altair
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.2
backoff==2.2.1
BareNecessities==0.2.8
bcrypt==4.0.1
beautifulsoup4==4.12.2
bitsandbytes==0.41.1
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.2
chromadb==0.4.6
class-registry==2.1.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy
cryptography==41.0.3
cycler==0.11.0
dataclasses-json==0.5.14
distlib==0.3.7
effdet==0.4.1
einops==0.6.1
embeddings==0.0.8
emoji==2.8.0
exceptiongroup==1.1.3
executing==1.2.0
executor==23.2
faiss-cpu==1.7.4
fastapi==0.99.1
fasteners==0.18
filelock==3.12.2
filetype==1.2.0
filters==1.3.2
Flask
Flask-Admin==1.6.1
Flask-Bcrypt==1.0.1
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
flatbuffers==23.5.26
fonttools
frozenlist
fsspec
gitdb==4.0.10
GitPython==3.1.37
google-auth==2.23.0
google-auth-oauthlib==1.1.0
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.3
httplib2==0.22.0
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
importlib-metadata
importlib-resources
iniconfig==2.0.0
iopath==0.1.10
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema
jsonschema-specifications
kiwisolver
langchain
layoutparser
littleutils
lxml
magic-filter
Mail
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
monotonic
mpmath
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
nvidia-smi
oauth2
oauthlib
omegaconf
onnxruntime
openai==0.27.9
opencv-python
overrides
packaging
pandas
passlib
pdf2image
pdfminer.six
pdfplumber
Pillow
platformdirs
pluggy
portalocker
posthog
property-manager
protobuf
psutil
pulsar-client
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pygame
Pygments
pyparsing
PyPDF2
pypdfium2
PyPika
pyreadline3
pyTelegramBotAPI
pytesseract
pytest
python-dateutil
python-dotenv
python-magic
python-multipart
python-telegram-bot
pytz
pywin32
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scipy
six
smmap
sniffio
sorcery
soupsieve
SQLAlchemy
starlette
streamlit
style
sympy
tabulate
telebot
telegram
tenacity
tiktoken
timm
tokenizers
toml
tomli
toolz
torch
torchvision
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured
unstructured-inference
update
urllib3
uvicorn
validators
verboselogs
virtualenv
watchdog
watchfiles
websockets
Werkzeug
wrapt
WTForms
yarl
zipp
