<!DOCTYPE html>
<html lang="en" class="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title %}Miiltoo{%endblock%}</title>
    <link rel="icon" href="/static/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/home-new.css" />
  

    <link rel="stylesheet" href="/static/css/loading-style.css" />
    <link rel="stylesheet" href="/static/css/grade-new.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      header {
        position: fixed;
        width: 100%;
        box-sizing: border-box;
        top: 0;
      }
    </style>
    {% block head %} {% endblock %}
  </head>
  <body class="body">
    <header class="sticky-header" id='header'>
      <a href="/" class="logo-container">
        <img src="/static/asset/logo.svg" alt="logo" />
        <h3 class="logo-name">Miilt<span class="oo">oo</span></h3>
      </a>
      <nav class="nav-links">
       
        <a href="/" class="home-link">
          <span class="nav-icons"><i class="fa-solid fa-house"></i></span>
          Home
          <span class="underlineT">
          </span>
        </a>
        <a href="" class="home-link"
          >
          <span class="nav-icons">
            <i class="fa-solid fa-book-open-reader"></i>
          </span>
          <button class="grade-btn">
            grade
            <span class="grade-btn-icon">
              <i class="fa-solid fa-caret-down"></i>
            </span>
          </button>
            <span class="underlineT" >
            </span>
        </a>
        <div class="grade-menu hidden" id="grade-menu">
          <div class="grade-menu-content">
            <div class="grade-header">
              <span class="grade-tittle-icon"
                ><i class="fa-brands fa-elementor"></i
              ></span>
              <div class="grade-tittle">
                <p>high school</p>
                <p>Initial readiness for advancement.</p>
              </div>
            </div>
            <a href="/#grade" class="grade-menu-item">
              <button class="grade-menu-btn">
                <span class="grade-menu-item-icon"
                  ><i class="fa-solid fa-graduation-cap"></i
                ></span>
                <p>
                grade-9
                </p>
              </button>
            </a>
            <a href="/#grade" class="grade-menu-item">
              <button class="grade-menu-btn">
                <span class="grade-menu-item-icon"
                  ><i class="fa-solid fa-graduation-cap"></i
                ></span>
                <p>
                  grade-10
                  </p>
              </button>
            </a>
            <a href="/#grade" class="grade-menu-item">
              <button class="grade-menu-btn">
                <span class="grade-menu-item-icon"
                  ><i class="fa-solid fa-graduation-cap"></i
                ></span>
                <p>
                  grade-11(soon)
                  </p>
              </button>
            </a>
            <a href="/#grade" class="grade-menu-item">
              <button class="grade-menu-btn">
                <span class="grade-menu-item-icon"
                  ><i class="fa-solid fa-graduation-cap"></i
                ></span>
                <p>
                  grade-12(soon)
                  </p>
              </button>
            </a>
          </div>
        </div>
        <a href="/contest/" class="home-link">
          <span class="nav-icons"> 
            <i class="fa-solid fa-trophy"></i>
            <i class="fa-solid fa-book" style="position: absolute;
            top: 16px;
            right: -6px;
            font-size: 6px;"></i>
          </span>
          competition
          <span class="underlineT" >
          </span>
        </a>
        <a href="" class="home-link"
          >
          <span class="nav-icons"><i class="fa-solid fa-file-circle-plus"></i></span>
          <button class="pages-btn">
            pages
            <span class="grade-btn-icon">
              <i class="fa-solid fa-caret-down"></i>
            </span>
            </button>
        <span class="underlineT" >
        </span>
       
        </a>
        <div class="page-menu hidden">
          <div class="page-menu-content">
            <div class="page-header">
              <span class="page-tittle-icon">
                <i class="fa-solid fa-compass"></i>
                </span
              >
              <div class="page-tittle">
                <p>Navigate to Pages</p>
                <p>Explore Website now</p>
              </div>
            </div>
            <a href="/#features" class="page-menu-item">
              <button class="page-menu-btn">
                <span class="page-menu-item-icon">
                  <i class="fa-solid fa-wand-magic-sparkles"></i>
                </span>
                features
              </button>
            </a>
            <a href="/#testimoney" class="page-menu-item">
              <button class="page-menu-btn">
                <span class="page-menu-item-icon">
                  <i class="fa-solid fa-pen-nib"></i>
                </span>
                testimoney
              </button>
            </a>
            <a href="/#team" class="page-menu-item">
              <button class="page-menu-btn">
                <span class="page-menu-item-icon">
                  <i class="fa-solid fa-people-group"></i>
                </span>
                our team
              </button>
            </a>
            <a href="/#contact" class="page-menu-item">
              <button class="page-menu-btn">
                <span class="page-menu-item-icon">
                  <i class="fa-solid fa-headset"></i>
                </span>
                contact us
              </button>
            </a>
          </div>
        </div>
        <a href="" class="upload-links"
          ><button class="upload-btn" id="upload-btn1">
            <span class="upload-btn-icon">
              <i class="fa-solid fa-upload"></i>
            </span>
            <p>
            Upload Book
            </p>
          </button>
        </a>
        <a href="" class="home-link">
          <button class="upload-btn" id="country-btn">
          <span class="upload-btn-icon">
            <i class="fa-solid fa-globe"></i>
          </span>
           <p>Country</p>
          <span class="country-menu-item-icon" style='display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;'>
      <img src="/static/asset/ethiopia-flag.svg" alt="" />
          </span>
        </button>
      </a>
        <div class="country-menu hidden">
          <div class="country-menu-content">
            <div class="country-header">
              <span class="country-tittle-icon">
                <i class="fa-solid fa-earth-africa"></i>
                </span
              >
              <div class="country-tittle">
                <p>Select Country in Africa</p>
                <p>Explore African Countries</p>
              </div>
            </div>
            <a href="/#ETH" class="country-menu-item" onclick="changeContent('ethiopia',event)">
              <button class="country-menu-btn">
                <span class="country-menu-item-icon"></span>
                  <img src="/static/asset/ethiopia-flag.svg" alt="" />
                </span>
                Ethiopia
              </button>
            </a>
            <a href="/#SS" class="country-menu-item" onclick="changeContent('south-sudan',event)">
              <button class="country-menu-btn">
                <span class="country-menu-item-icon">
                  <img src="/static/asset/south-sudan-flag.svg" alt="" />
                </span>
                South Sudan
              </button>
            </a>
            <a href="/#NGA" class="country-menu-item" onclick="changeContent('nigeria',event)">
              <button class="country-menu-btn">
                <span class="country-menu-item-icon">
                  <img src="/static/asset/nigeria-flag.svg" alt="" />
                </span>
                Nigeria(soon)
              </button>
            </a>
            <a href="/#KEN" class="country-menu-item" onclick="changeContent('kenya',event)">
              <button class="country-menu-btn">
                <span class="country-menu-item-icon">
                  <img src="/static/asset/kenya-flag.svg" alt="" />
                </span>
                kenya(soon)
              </button>
            </a>
           
          </div>
        </div>
        <div class="login-group-mob">
          <a href="/login"><button class="login-btn-mob">login</button></a>
        <a href="/signup"><button class="signup-btn-mob">signup</button></a>
        </div>
      </nav>
      <div class="login-container">
        <a href="/login"><button class="login-btn1">login</button></a>
        <a href="/signup"><button class="signup-btn1">signup</button></a>
      </div>
     
      <div class="profile-container hidden">
       
        <div class="profile-group">
          <div class="separet-line"></div>
          <span class="profile-pic">
            <img src="/static/asset/profile-pic.png" alt="" />
          </span>
          <div class="self-desc-container">
            <p class="google_username"></p>
            <p class="google_email"></p>
          </div>
          <span class="profile-drop-icon"
            ><i class="fa-solid fa-chevron-down"></i
          ></span>
        </div>
        <div class="profile-detail"></div>
      </div>
      <div class="hamb-menu" id="hamb-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </header>
    <div class="profile-menu hidden">
      <a href="/account">
        <div class="profile-menu-item">
          <span class="profile-menu-item-icon"
            ><i class="fa-solid fa-id-card-clip"></i
          ></span>
          account
        </div></a
      >
      <a href="/booklist">
      <div class="profile-menu-item">
        <span class="profile-menu-item-icon"
          ><i class="fa-solid fa-book"></i>
        </span>
        my booklists
      </div></a></a
      >
   
      <a href="/logout">
        <div class="profile-menu-item">
          <span class="profile-menu-item-icon"
            ><i class="fa-solid fa-right-from-bracket"></i
          ></span>

          logout
        </div></a
      >
    </div>
    <div class="upload-popup hidden">
      <div class="chatbot-var-4 hidd">
        <button class="arrow-btn close-popup">
          <i class="fa-solid fa-x"></i>
        </button>
        <div class="chat-top-container upload-top-container">
          <div class="var2-logo">
            <img src="/static/asset/logo.svg" alt="" />
            miilt<span>oo</span>
          </div>
          <div class="chat-top-headline">
            <div class="chat-text">
              <span class="chat-text-icon">
                <i class="fa-solid fa-upload"></i>
              </span>
              upload-file
            </div>
          </div>
        </div>
      
        <div class="drop-area" id="drop-area">
          <form
            class="drop-area-form my-form"
            action="/upload"
            method="POST"
            enctype="multipart/form-data"
          >
            <span class="cloud-icon"
              ><i class="fa-solid fa-cloud-arrow-up"></i
            ></span>
            <div style="display: flex; gap: 4px">
              <p class="drag-text">Drag and drop a file here, or</p>
              <label for="fileElem" class="browse-button">browse</label>
            </div>

            <span id="fileName" class="sub-label">No file selected</span>
            <input
              type="file"
              id="fileElem"
              name="file"
              class="button"
              accept="application/pdf"
            />

            <button
              class="file-label button"
              id="upload-button"
              style="display: none"
              onclick="uploadForm()"
            >
              <span class="file-label-text">open</span>
            </button>
          </form>
          <div id="gallery"></div>

          <!-- Move the upload button outside the drop area -->
        </div>
        <div class="recent-glabel">
          <span class="recent-icon">
            <i class="fa-solid fa-newspaper"></i>
          </span>
          recent
        </div>
        <div class="file-container">
          <div class="file-item"></div>
        </div>

        <!-- the end of drop area -->

       
      </div>
    </div>
    <div class="overlay hidden"></div>
    <div class="overlayHeader hidden"></div>
    {% block body %} 
    
    
    {% endblock %}
    
    {%block footer%}
    <footer>
      <div class="footer-content">
        <div class="footer-logo">
          <img src="/static/asset/logo.svg" alt="" />
          <div>Miilt<span class="oo">oo</span></div>
        </div>
        <div class="footer-link-container">
          <div class="link-container">
            Home
            <a href="" class="link">Grade</a>
            <a href="" class="link">Subject</a>
            <a href="" class="link">Chatbot</a>
          </div>
          <div class="link-container">
            Resource
            <a href="" class="link">Textbook</a>
            <a href="" class="link">Study Guide</a>
            <a href="" class="link">Upload</a>
          </div>
          <div class="link-container">
            Grade
            <a href="" class="link">Grade-9</a>
            <a href="" class="link">Grade-10</a>
            <a href="" class="link">Grade-11</a>
            <a href="" class="link">Grade-12</a>
          </div>
          <div class="link-container">
            Pages
            <a href="" class="link">About us</a>
            <a href="" class="link">Contact us</a>
            <a href="" class="link">FAQ</a>
            <a href="" class="link">help</a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <a class="social-icons"><i class="fa-brands fa-square-twitter"></i></a>
        <a class="social-icons"><i class="fa-brands fa-facebook"></i></a>
        <a class="social-icons"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-icons"><i class="fa-brands fa-github"></i></a>
        <a class="social-icons"><i class="fa-brands fa-telegram"></i></a>
      </div>
    </footer>
    {%endblock%}
    <script src="/static/js/header.js"></script>

    <script src="/static/js/upload.js"></script>
    <script>
      var login_and_signup = document.querySelector(".login-container");
      var login_and_signup_mob= document.querySelector(".login-group-mob");
      var profile = document.querySelector(".profile-container");
      var username = document.querySelector(".google_username");
      var email = document.querySelector(".google_email");
      let loggedIn = "{{ session['logged_in'] }}";

      // Now you can use the 'loggedIn' JavaScript variable to manipulate information.
      if (loggedIn == "true") {
        login_and_signup.classList.add("hidden");
        login_and_signup_mob.classList.add("hidden");
        username.innerHTML = "{{ session['google_name'] }}";
        email.innerHTML = "{{ session['google_email'] }}";
        profile.classList.remove("hidden");
        console.log("logged in");
      } else {
        login_and_signup.classList.remove("hidden");
        login_and_signup.classList.remove("hidden");
        profile.classList.add("hidden");
      }
    </script>
  </body>
</html>
