{%extends "base.html"%}
{%block title %}My books{%endblock%}
{%block head%}
<link rel="stylesheet" href="/static/css/home-new.css" />
<link rel="stylesheet" href="/static/css/loading-style.css" />
<link rel="stylesheet" href="/static/css/book-new.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{%endblock%}
{%block body%}
<div class="feat-container">

<a
id="add-book"
class="resrc-box"
>

<div class="resrc-cover-container">
  <img
    src="/static/asset/book-cover/plus.png"
    class="resrc-cover-item"

  />
 
</div>
<div class="resrc-tittle-container">
  <span class="resrc-tittle-icon"
    ><i class="fa-solid fa-book"></i
  ></span>
  Upload Book
</div>
<div class="resrc-desc-container">
  <div class="resrc-desc-tittle">
    <span class="resc-desc-tittle-icon"
      ><i class="fa-solid fa-feather"></i
    ></span>
     Chat with your own book and ask it to generate quiz for you
  </div>
  <div class="resrc-desc-content">
    <p class="resrc-desc-text">
      
    </p>
  </div>
</div>
</a>

 

    
    {% for book in books %}
<div style="display: flex;flex-direction: column;flex-wrap: nowrap;align-content: stretch;justify-content: center;align-items: flex-end;">
        <a
href="/grade/?book={{book.txt_url}}"
class="resrc-box"
>
<div class="resrc-cover-container">
  <img
    src="/static/asset/book-cover/book.png"
    class="resrc-cover-item"

  />
  <div class="resrc-cover-overlay">
    <p class='grade_no'>{{book.book_name}}</p>
    <span class="resrc-cover-overlay-icon">
      <i class="fa-solid fa-book-open-reader"></i>
    </span>
  </div>
</div>

<div class="resrc-desc-container">
  <div class="resrc-desc-tittle">
    <span class="resc-desc-tittle-icon"
      ><i class="fa-solid fa-feather"></i
    ></span>
   
  </div>
  <div class="resrc-desc-content">
    <p class="resrc-desc-text">
      chat with your book and ask it to generate quiz for you
    </p>
  </div>
</div> 
</a>
<a href="/delete_book?book_name={{book.book_url}}&txt_name={{book.txt_url}}"
  ><button class="upload-btn">
<span class="upload-btn-icon">
  <i class="fa-solid fa-upload"></i>
    </span>
            <p>
            Delete Book
            </p>
          </button>
        </a>
</div>
{% endfor %}

    
</div>
<script>
  uploadButton = document.querySelector('.upload-btn');
  document.getElementById('add-book').addEventListener('click', function (event) {
    event.preventDefault(); 
    document.getElementById('upload-btn1').click();
    
  });
   document.getElementById('upload-btn1').classList.add('hidden'); 
</script>
{%endblock%}
