* {
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
}

button {
  outline: none;
}
h2 {
  font-size: 39px;
  text-align: center;
  text-wrap: nowrap;
}

body {
  position: relative;
  background-color: var(--color-azure);
  overflow-x: hidden;
}
.hero-child,
.miiltoo2 {
  position: absolute;
  left: 0;
}
.hero-child {
  margin: 0 !important;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}
.miiltoo2 {
  text-transform: capitalize;
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}
.untitled-13x-1-icon3 {
  width: 42px;
  object-fit: cover;
}
.miiltoo-group {
  position: relative;
  width: 247px;
  height: 56px;
  min-width: 200px;
}
a {
  color: var(--color-white);
  text-decoration: none;
  width: 100%;
  padding: 2px 0;
}

.home-group {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-19xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
.home-group :nth-child(6) {
  border: 1px solid;
  border-radius: 24px;
  width: 64%;
  display: flex;
  align-items: center;
}
.home-group :nth-child(7) {
  border-radius: 24px;
  width: 64%;
  display: flex;
  align-items: center;
  background: aqua;
  color: #001f23;
}
.login1,
.signup1 {
  position: relative;
  text-transform: capitalize;
}
.login1 {
  font-weight: 600;
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
  cursor: pointer;
}
.signup1,
#signup2 {
  font-size: var(--font-size-mini-5);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-black);
  text-align: left;
  outline: none;
}
.signup2 {
  color: black;
}
.signup-container {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs);
  background-color: white;
  border-radius: var(--br-base-5);
  box-sizing: border-box;
  width: 86px;
  height: 26px;
  outline: none;
}
.signup-container:hover {
  background-color: #65fffc;
}
.profile-group {
  display: flex;
  flex-direction: column;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile img {
  width: 46px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid;
}
.profile .username {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header1,
.login-group,
.signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-group {
  width: 149px;
  height: 27px;
  gap: var(--gap-smi-5);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
}
.header1 {
  position: relative;
  align-self: stretch;
  background-color: var(--color-gray-400);
  backdrop-filter: blur(16px);
  padding: 2px 10%;
  gap: var(--gap-5xs);
  z-index: 2;
  text-align: center;
  font-size: 31.99px;
  color: var(--color-white);
  font-family: var(--font-pacifico);
}

.header1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(0 249 255 / 30%),
    transparent
  );
  transition: 0.5s;
}
.header1:hover::before {
  left: 100%;
}
#bod {
  overflow-x: hidden;
}

.headline1 {
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 4%;
}
.lorem-ipsum-dolor7 {
  margin: 0;
}
.lorem-ipsum-dolor-container5 {
  font-size: 18px;
  text-transform: lowercase;
  text-align: left;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
  width: 100%;
}
.hamb-menu {
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.line {
  width: 24px;
  height: 4px;
  background: white;
  margin: 6px;
  border-radius: 2px;
  transition: 0.5s ease-in;
}
.hamb-menu :nth-child(2) {
  position: relative;
  transform: translateX(2%);
  left: 3px;
}
.hamb-menu.active :nth-child(1) {
  transform: rotate(-45deg) scaleX(1.2) translate3d(-8px, 4px, 0);
}
.hamb-menu.active :nth-child(2) {
  transform: translateX(24px);
  opacity: 0;
}
.hamb-menu.active :nth-child(3) {
  transform: rotate(45deg) scaleX(1.2) translate3d(-8px, -4px, 0);
}

.explore-now4 {
  position: relative;
  font-size: 25.94px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-midnightblue);
  text-align: left;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 11.030373573303223px 14.707165718078613px;
  background-color: var(--color-aqua);
  border-radius: 29.41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button:hover {
  background-color: rgb(0, 200, 200);
}
.frame-parent17,
.frame-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper {
  margin: 0 !important;
  width: 100%;
  flex-direction: row;
  padding: 2% 8%;
  justify-content: center;
}
.frame-parent17 {
  border-radius: 52.89px 52.89px 0 52.89px;
  width: 50%;
  padding: 2% 3%;
  justify-content: space-between;
  background: 446BF4;
  flex-direction: column;
  position: absolute;
  left: 5%;
  top: 20%;
  z-index: 0;
  backdrop-filter: blur(5px);
}
.untitled-13x-1-icon4 {
  position: absolute;
  margin: 0 !important;
  top: 2%;
  left: 53%;
  width: 605px;
  height: 688px;
  object-fit: cover;
  z-index: 1;
}
.frame-parent16,
.hero,
.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.frame-parent16 {
  width: 96%;
  height: 730px;
  padding: 0 110px 0 134.3699951171875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 38.77px;
  z-index: 0;
}
.hero,
.hero-section {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}
.hero {
  backdrop-filter: blur(43.5px);
  height: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.hero-section {
  z-index: 0;
  text-align: center;
  font-size: 48px;
  color: var(--color-lavender);
  font-family: var(--font-source-serif-pro);
  height: 850px;
}
.frammodify-1-child,
.frammodify-1-item {
  position: absolute;
  margin: 0 !important;
  top: 2352.56px;
  left: 0;
  width: 520.23px;
  height: 983.75px;
  z-index: 1;
}

.features1 {
  margin: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 53.88px;
  text-align: center;
}
.frame-child5 {
  position: absolute;
  top: 53.25px;
  left: 12.75px;
  width: 123.5px;
  height: 3.5px;
}
.features-group {
  border-bottom: 3px solid #00ffe9;
  border-radius: 6%;
  width: 10%;
}
.features-group,
.frame-child6 {
  position: relative;
  width: 149px;
  height: 55px;
  display: flex;
  justify-content: center;
}
.frame-child6,
#interactive,
#resource {
  border-radius: var(--br-smi);
  width: 180px;
  height: 180px;
  padding: 4%;
}
.personalized-learning1 {
  margin: 0;
  position: relative;
  font-size: 21px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
  min-width: 300px;
}
.this-feature-ensures1 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
}
.rectangle-parent1 {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14.38px;
  background: white;
  border-radius: 24px;
  padding: 2% 5%;
  margin-top: 3%;
}
.ensures-that-students1,
.promotes-active-learning1 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 100%;
}
.frame-parent18,
.frame-parent19 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame-parent19 {
  width: 100%;
  min-width: 992px;
  height: 489px;
  flex-direction: row;
  padding: 0 10%;
  align-items: flex-start;
  gap: 70px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-source-serif-pro);
}
.frame-parent18 {
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1% 0 var(--padding-67xl);
  align-items: center;
  gap: 1%;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}

.resource3 {
  margin: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.resource-group {
  position: relative;
  width: 154px;
  height: 55px;
  border-bottom: 3px solid #00ffe9;
  border-radius: 6%;
  text-align: center;
  margin-bottom: 2%;
}
.all1 {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-black);
  text-align: left;
}
.all-container {
  cursor: pointer;
  padding: 8px 16px;
  background-color: var(--color-whitesmoke);
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}
.study-guide2 {
  position: relative;
  min-width: 40%;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: center;
}
.frame-parent20,
.study-guide-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.study-guide-container {
  cursor: pointer;
  border: 1.7px solid var(--color-whitesmoke);
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 25px;
  height: 45.08px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}

.frame-parent20 {
  width: 100%;
  text-align: center;
  align-items: flex-start;
  gap: 3%;
}
.frame-parent20::-webkit-scrollbar {
  display: none;
}
.frame-child10 {
  position: relative;
  border-radius: var(--br-lgi);
  width: 100%;
  height: 57%;
  z-index: 0;
}

.history3,
.view-more3 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.history3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  width: 50%;
  flex-shrink: 0;
  font-size: 22px;
}
.view-more3 {
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
  color: var(--color-black);
  text-align: left;
  font-size: 18px;
}
.group-parent1,
.view-more-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.view-more-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lightskyblue);
  border-radius: var(--br-lgi);
  justify-content: flex-start;
  width: 55%;
  padding: 1% 3%;
  text-wrap: nowrap;
}
.group-parent1 {
  align-self: stretch;
  padding: 0 var(--padding-mini-5);
  justify-content: center;
  gap: var(--gap-5xs);
  z-index: 1;
}
.description6,
.lorem-ipsum-dolor8 {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 100%;
}
.lorem-ipsum-dolor8 {
  font-size: 13px;
  color: #859997;
  text-transform: lowercase;
  height: 52px;
}
.description-parent {
  width: 100%;
  height: 100%;
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcyan-200);
  /* height: 31%; */
  display: flex;
  flex-direction: column;
  padding: 4% 5%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}

.vector-container,
.view-more-wrapper3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector-container {
  border-radius: var(--br-lg);
  background-color: var(--color-lightcyan-100);
  width: 316px;
  height: 445px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  width: 33%;
  height: 500px;
  padding: 1% 4% 4%;
  border-radius: 16px;
  border: 1px solid #042e41;
  box-shadow: 0px 8.5px 8.5px 0px rgba(80, 186, 231, 0.137);
  gap: 3%;
}

.frame-parent21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-141xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-source-serif-pro);
  width: 1084px;
  padding: 2% 5%;
  gap: 2%;
}
.frame-parent21::-webkit-scrollbar {
  display: none;
}

.frame-210,
.frame-210 * {
  box-sizing: border-box;
}
.frame-210 {
  width: 100%;
  position: absolute;
  top: 88%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
}
.slide-indicator {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-2 {
  background: #cfe9ef;
  border-radius: 50%;
  flex-shrink: 0;
  width: 15.99px;
  height: 15.99px;
  position: relative;
}
.rectangle-16 {
  background: aqua;
  border-radius: 11px;
  align-self: stretch;
  flex-shrink: 0;
  width: 34px;
  position: relative;
}
.ellipse-3 {
  background: #cfe9ef;
  border-radius: 50%;
  flex-shrink: 0;
  width: 15.99px;
  height: 15.99px;
  position: relative;
}
.ellipse-4 {
  background: #cfe9ef;
  border-radius: 50%;
  flex-shrink: 0;
  width: 15.99px;
  height: 15.99px;
  position: relative;
}

.resource2 {
  position: relative;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  height: 831px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl-5);
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
  background: no-repeat url(/static/public/bg-resource.svg);
  background-size: cover;
  background-position: center;
}
.frame-child30,
.frame-child31,
.frame-child32 {
  position: absolute;
  width: 382.09px;
  height: 467.3px;
  transform: rotate(-18.38deg);
  transform-origin: 0 0;
}
.frame-child30 {
  top: 120.5px;
  left: 0;
  background-color: rgba(169, 234, 255, 0.63);
  filter: blur(49.5px);
}
.frame-child31,
.frame-child32 {
  top: 131.92px;
  left: 37.57px;
  background-color: var(--color-darkslategray-400);
}
.frame-child32 {
  top: 80.26px;
  left: 85.51px;
  background-color: var(--color-darkorange);
  width: 402.39px;
  height: 465.22px;
  transform: rotate(-8.18deg);
}
.frame-child33 {
  position: absolute;
  top: 57.53px;
  left: 146.77px;
  width: 389.19px;
  height: 471.66px;
  object-fit: cover;
}
.rectangle-parent4 {
  position: relative;
  width: 550px;
  height: 575.37px;
  z-index: 0;
}

.frame-parent23 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 75px;
  z-index: 0;
}

.search-resource-here1 {
  position: relative;
  text-transform: lowercase;
}
.search-resource-here-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 25.5px;
  align-items: center;
  justify-content: flex-start;
}
.search1 {
  position: relative;
  font-size: 20.45px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-midnightblue);
  text-align: left;
}
.frame-parent25,
.search-container {
  border-radius: 23.19px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-container {
  cursor: pointer;
  border: 0;
  padding: 8.696491241455078px 11.595320701599121px;
  background-color: var(--color-aqua);
  justify-content: center;
}
.frame-parent25 {
  margin: 0 !important;

  background-color: var(--color-azure);
  border: 2.3px solid var(--color-darkcyan);
  box-sizing: border-box;
  width: 394px;
  justify-content: flex-end;
  gap: 5.8px;
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.frame-parent22,
.frame-parent24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent24 {
  width: 100%;
}
.frame-parent22 {
  width: 100%;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0% 2% 4%;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-source-serif-pro);
}
.testimony-group {
  position: relative;
  width: 162px;
  height: 57.51px;
  border-bottom: 2px solid #00ffe9;
  border-radius: 6%;
  z-index: 0;
}

.frame-icon18 {
  position: relative;
  width: 21.96px;
  height: 21.96px;
  overflow: hidden;
  flex-shrink: 0;
}
#headline-2 {
  position: relative;
  width: 100%;
  top: 0;
  left: -16%;
  background: #00fdff70;
  justify-content: center;
  padding: 4% 8%;
  border-radius: 4% 4% 1% 4%;
}
.review-box {
  position: relative;
}
.frame-parent29,
.reviews-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent29 {
  width: 133.78px;
  gap: var(--gap-7xs);
}
.reviews-parent1 {
  width: 100%;
  gap: 2%;
  text-align: left;
  font-size: 17.38px;
  color: var(--color-cadetblue);
  font-family: var(--font-outfit);
}

.frame-child35 {
  position: absolute;
  top: 0.32px;
  left: 150.49px;
  border-radius: 45.74px;
  width: 85.08px;
  height: 81.42px;
  object-fit: cover;
}
.wade-warren {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.profession-wrapper1,
.wade-warren-wrapper {
  position: absolute;
  top: 92.39px;
  left: 0;
  width: 386.04px;
  display: flex;
  flex-direction: column;
  padding: 0 13.26457405090332px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.profession-wrapper1 {
  top: 126.24px;
  font-size: 16.47px;
  color: var(--color-lightgray);
}
.vector-parent4 {
  position: relative;
  width: 386.04px;
  height: 147.24px;
  font-size: var(--font-size-lg-3);
  color: var(--color-cadetblue);
  font-family: var(--font-source-serif-pro);
}
.frame-parent26 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  height: 634px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-15xl-5);
  z-index: 8;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
  background: no-repeat url(/static/public/testimoney.svg);
  background-size: cover;
  background-position: center;
}
.contact-us-group {
  position: relative;
  width: 187px;
  height: 57.51px;
  border-bottom: 3px solid #00ffe9;
  border-radius: 6%;
}
.frame-child39,
.frame-parent34 {
  align-self: stretch;
  overflow: hidden;
}
.frame-parent34 {
  display: flex;
  flex-direction: column;
  padding: 4% 2%;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl-5);
  background: azure;

  z-index: 9;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
.untitled-13x-1-icon5 {
  position: relative;
  width: 33px;
  height: 33.27px;
  object-fit: cover;
  padding: 1%;
}
.miiltoo3 {
  position: relative;
  text-transform: capitalize;
}
.untitled-13x-1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xs-5);
}
.home-container,
.social-media-container,
.top1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-container {
  flex: 1;
  padding: 0 var(--padding-82xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 78.5px;
  min-width: 512px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
}
.top1 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  backdrop-filter: blur(16px);
  padding: 0 var(--padding-141xl) 0 var(--padding-106xl);
  justify-content: center;
  gap: var(--gap-5xs);
}
.grade-group,
.grade-9-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.grade-102 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 73px;
  height: 19px;
  flex-shrink: 0;
}

.contact2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 62px;
  height: 20px;
  flex-shrink: 0;
}
.frame-parent35 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}
.footer-child {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.footer-text1 {
  position: relative;
  line-height: 21.75px;
  text-align: center;
}
.footer1,
.frame-footer {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frame-footer {
  background-color: var(--color-darkslategray-500);
  height: 58.31px;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-mini-5);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.footer1 {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 10;
  text-align: center;
  font-size: 31.99px;
  color: var(--color-white);
  font-family: var(--font-pacifico);
}
.frammodify-1 {
  position: relative;
  top: -64px;
  background-color: var(--color-azure);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contact-box,
.contact-box * {
  box-sizing: border-box;
}
.contact-box {
  border-radius: 26px;
  border-style: solid;
  border-color: #00ffe9;
  background: no-repeat url(/static/public/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  border-width: 0.5px;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 92%;
  position: relative;
  box-shadow: 1px 3px 12px 0px #00000017;
}
.fullname-box,
.email-box,
.meassage-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-221 {
  width: 100%;
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 8%;
}
.full-name,
.email,
.message {
  color: #2fa4be;
  text-align: left;
  font: 500 20px "Source Serif Pro", sans-serif;
  position: relative;
}
.frame-222 {
  border-radius: 10.5px;
  padding: 4% 4%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 82%;
  position: relative;
}
.username-or-email {
  width: 100%;
  backdrop-filter: blur(41px);
  background: #ffffff45;
  color: #3b7ede;
  text-align: left;
  font: 400 18px "Source Serif Pro", sans-serif;
  position: absolute;
  top: 2%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4% 12% 4% 4%;
  border-radius: 14px;
  border: 1px solid aqua;
}
.username-or-email:focus {
  outline: none;
  border: 2px solid #2fa4be;
  background: none;
}
.username-or-email::placeholder {
  color: rgba(0, 0, 0, 0.696);
  font-weight: 500;
}

.icon-user,
.icon-envelope {
  flex-shrink: 0;
  position: absolute;
  top: 32%;
  left: 90%;
  width: 18px;
  overflow: visible;
}

.frame-2222 {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 79%;
  height: 200px;
  position: relative;
}
.send-btn {
  cursor: pointer;
  background: #65fffc;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.send-btn:hover {
  background: rgb(0, 225, 225);
}
.send-undefined {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.send-message {
  color: #042e41;
  text-align: left;
  font: 600 22px "Source Serif Pro", sans-serif;
  text-transform: lowercase;
  position: relative;
}

.dropdown {
  width: 100vw;
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: flex;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 4px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  gap: 4%;
}

/* Style the dropdown content */
.dropdown-content {
  transform: translateY(10vh);
  display: none;
  width: 90%;
  height: 0;
  opacity: 0;
  float: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
  color: #646464;
  padding: 7px 6px;
  text-decoration: none;
  background: #dbfbffed;
  text-align: center;
  border-radius: 6px;
  transition: 0.9s ease;
}

/* Style the dropdown links */
.dropdown-content a {
  width: 96%;
  float: none;
  color: black;
  padding: 8px 6px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #00c3db0f;
  border-left: none;
  border-right: none;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #c0f6ff;
}

/* Show the dropdown menu on hover */

.dropdown-content.visibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  opacity: 1;
  transform: translateY(0px);
}
.drop-icon {
  position: absolute;
  left: 64%;
  transition: 0.5s ease;
}

.drop-icon.up {
  transform: rotate(180deg);
}
.nav-dropdown {
  position: absolute;
  top: 4%;
  width: 100%;
  background: #1f323df5;
  backdrop-filter: blur(5px);
  padding: 8%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.hidden {
  display: none;
}
.overflow-hid {
  overflow: hidden;
}
.review-box {
  border-radius: 24px;
  width: 80%;
  height: 24%;
  background: #202124;
  padding: 8% 4%;
  top: 0;
  left: 0;
}
.top-tag {
  display: none;
}
.login-btns {
  display: none;
}
.nav-icons {
  display: none;
}

@media only screen and (width <768px) {
  .hero-section {
    height: 650px;
  }

  .headline1 {
    font-weight: 600;
    padding: 4% 8% 0% 8%;
    font-size: 39px;
  }
  .lorem-ipsum-dolor7 {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
  }
  .explore-now4 {
    font-size: 16px;
  }

  .frame-parent17 {
    width: 75%;

    height: 45%;
  }

  .review-box {
    height: 100%;
  }
  .frame-parent18 {
    height: 1400px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (width <= 600px) {
  .header1 {
    padding: 4px 10%;
  }

  .home-group.slide {
    transform: translateX(0%);
    opacity: 1;
  }

  .hero-section {
    height: 75vh;
  }
  .hero-child {
    height: 100%;
  }

  .headline1 {
    font-weight: 600;
    font-size: 28px;
  }
  .frame-parent17 {
    border-radius: 28px;
    width: 88%;
    height: 46%;
  }
  .par2 {
    display: none;
  }
  .lorem-ipsum-dolor-container5 {
    font-size: 16px;
  }

  .frammodify-1-inner {
    top: 33.5%;
  }
  .this-feature-ensures1 {
    font-size: 16px;
  }
  .ensures-that-students1,
  .promotes-active-learning1 {
    font-size: 16px;
  }
  .untitled-13x-1-icon4 {
    top: 39%;
    left: 52%;
    width: 48%;
    height: 52%;
  }
  .features-group,
  .frame-child6 {
    font-size: 32px;
  }
  .frame-parent19 {
    height: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-width: 65%;
    gap: 16px;
  }
  .rectangle-parent1 {
    width: 90%;
    padding: 8% 5%;
  }

  .frame-parent18 {
    height: 1400px;
  }

  .resource-group {
    font-size: 32px;
    margin-top: 3%;
  }
  .frame-parent20 {
    width: 100%;
    gap: 4%;
    padding: 4%;
    padding-left: 4%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    align-items: center;
    justify-content: flex-start;
  }
  .all1,
  .study-guide2 {
    font-size: 18px;
  }
  .frame-parent21 {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 4%;
    margin-top: 0%;
  }
  .rectangle-parent4 {
    position: relative;
    width: 350px;
    height: 500px;
    z-index: 0;
  }
  h2 {
    font-size: 32px;
  }
  .frame-parent24 {
    width: 80%;
    padding: 4% 8%;
  }
  .frame-parent26 {
    padding: 16% 0%;
  }
  .review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
  }
  .home-container {
    display: none;
  }
  .top-tag {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  .frame-parent19 {
    flex-direction: column;
  }
  .vector-container {
    gap: 1%;
    width: 240px;
    height: 340px;
  }
  .vector-container:last-child {
    margin-right: 8%;
  }
  .resource2 {
    padding: 5% 0%;
    height: 570px;
    gap: 1%;
  }
  .resource-slider {
    opacity: 0;
  }
  .lorem-ipsum-dolor8 {
    font-size: 13px;
  }
  .history3 {
    font-size: 20px;
  }
  .view-more3 {
    min-width: 80px;
    font-size: 16px;
  }
  .frame-parent35 {
    flex-direction: column;
  }
  .frame-wrapper {
    padding: 2% 0;
    justify-content: flex-start;
  }
}
@media only screen and (600px <width <=768pc) {
  .untitled-13x-1-icon4 {
    top: 22%;
    left: 60%;
    width: 200px;
    height: 415px;
  }
  .rectangle-parent1 {
    width: 38%;
  }
  .frame-parent19 {
    min-width: 600px;
    flex-wrap: wrap;
    padding: 0% 5%;
    justify-content: center;
    gap: 3%;
  }
  .frame-parent18 {
    height: 1032px;
  }
  .vector-container {
    width: 258px;
    height: 388px;
    padding: 1%;
  }
  .resource2 {
    gap: 1%;
    height: 680px;
  }

  .frame-parent21 {
    justify-content: flex-start;
    width: 100%;
    gap: 3%;
  }
  .home-container {
    display: none;
  }
  .top-tag {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (768px < width < 992) {
  .frame-parent35 {
    gap: 6%;
  }
}
@media only screen and (width <992px) {
  .hamb-menu {
    display: block;
  }

  .header1 {
    justify-content: space-between;
  }
  .login-group {
    display: none;
  }
  .login-btns {
    display: block;
  }

  .home-group {
    width: 100vw;
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    transform: translatex(100%);
    opacity: 0;
    background: #002024fa;
    backdrop-filter: blur(20px);
    padding: 12% 0 12% 0%;
    gap: 18px;
    transition: 0.7s all;
  }
  .wade-warren {
    display: flex;
    font-size: 18px;
    width: 100%;
    gap: 2%;
    justify-content: center;
  }
  .login1 {
    width: 100%;
    padding: 2% 0;
  }
  .nav-icons {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (width >= 992px) {
  a {
    width: auto;
  }
  .drop-icon {
    left: 80%;
  }
  .dropdown .dropbtn {
    padding-right: 24px;
  }
  .dropdown {
    width: auto;
  }
  .dropdown-content {
    position: absolute;
    width: auto;
    top: 56px;
    left: 47%;
    background: white;
    opacity: 1.2;
    transform: translateY(-138%);
  }
  .dropdown-content.visibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 140px;
    opacity: 1;
    transform: translateY(0px);
    padding: 1% 1%;
  }
  .hamb-menu {
    display: none;
  }
  .home-group :nth-child(6),
  .home-group :nth-child(7) {
    display: none;
  }
  .home-group,
  .login-group {
    display: flex;
  }
  .home-group {
    min-width: 512px;
  }

  .untitled-13x-1-icon4 {
    top: 19%;
    left: 62%;
    width: 300px;
    height: 601px;
  }
  .frame-parent18 {
    height: 615px;
  }
  .frame-parent19 {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 6%;
    gap: 3%;
  }
  .rectangle-parent1 {
    width: 24%;
  }
  .frame-parent35 {
    gap: 6%;
  }

  .frame-parent21 {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .vector-container {
    width: 280px;
    height: 436px;
    padding: 1%;
    border-radius: 16px;
    gap: 3%;
  }

  .resource2 {
    height: 670px;
    background-position: top;
    gap: 0%;
  }
  .frame-parent20 {
    gap: 2%;
  }
  .study-guide2 {
    min-width: 11%;
  }
  .frame-parent20 {
    padding-bottom: 2%;
    gap: 3%;
  }
  .login1 {
    width: 32%;
  }
  .frame-221 {
    width: 15%;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    left: 0;
  }
  .contact-box {
    width: 64%;
    padding: 8% 8%;
    gap: 3rem;
  }
  .fullname-box,
  .email-box,
  .meassage-box {
    flex-direction: row;
    width: 88%;
  }
  .meassage-box {
    align-items: flex-start;
  }
  .full-name,
  .email,
  .message {
    text-align: right;
    min-width: 93px;
  }
}
