button {
  outline: none;
}
h2 {
  font-size: 39px;
  text-align: center;
  text-wrap: nowrap;
}
body {
  background-color: var(--color-azure);
}
.hero-wave-icon {
  position: relative;
  width: 1543.96px;
  height: 460.01px;
  z-index: 0;
}
.wave-child {
  top: 276.75px;
  left: 46.34px;
  width: 604.5px;
  height: 199px;
  z-index: 1;
}
.wave,
.wave-child,
.wave-item {
  margin: 0 !important;
  position: absolute;
}
.wave-item {
  top: 282.43px;
  left: 792.03px;
  width: 699.5px;
  height: 187.32px;
  z-index: 2;
}
.wave {
  top: 533.5px;
  left: -46.34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 0;
}
.hero-child,
.miiltoo2 {
  position: absolute;
  left: 0;
}
.hero-child {
  margin: 0 !important;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 0;
}
.miiltoo2 {
  text-transform: capitalize;
  width: 247px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2%;
}
.untitled-13x-1-icon3 {
  width: 42px;
  object-fit: cover;
}
.miiltoo-group {
  position: relative;
  width: 247px;
  height: 56px;
  min-width: 200px;
}
a {
  color: var(--color-white);
  text-decoration: none;
}
a:hover,
.login1:hover {
  color: #65fffc;
}
.home-group {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-19xl);
  min-width: 512px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
.login1,
.signup1 {
  position: relative;
  text-transform: capitalize;
}
.login1 {
  font-weight: 600;
  display: inline-block;
  width: 43.06px;
  flex-shrink: 0;
  cursor: pointer;
}
.signup1 {
  font-size: var(--font-size-mini-5);
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-black);
  text-align: left;
  outline: none;
}
.signup-container {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: var(--padding-5xs);
  background-color: var(--color-whitesmoke);
  border-radius: var(--br-base-5);
  box-sizing: border-box;
  width: 86px;
  height: 26px;
  outline: none;
}
.signup-container:hover {
  background-color: #65fffc;
}
.header1,
.login-group,
.signup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-group {
  width: 149px;
  height: 27px;
  gap: var(--gap-smi-5);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
}
.header1 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  backdrop-filter: blur(16px);
  padding: 2px 10%;
  gap: var(--gap-5xs);
  z-index: 2;
  text-align: center;
  font-size: 31.99px;
  color: var(--color-white);
  font-family: var(--font-pacifico);
}
.bg-icon2 {
  position: relative;
  border-radius: 3.17px;
  width: 769.12px;
  height: 397px;
  animation: 2s ease 0s 2 normal forwards slide-in-right;
}
.headline1 {
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 4%;
}
.lorem-ipsum-dolor7 {
  margin: 0;
}
.lorem-ipsum-dolor-container5 {
  font-size: 18px;
  text-transform: lowercase;
  text-align: left;
  font-weight: 500;
  line-height: 150%;
  display: inline-block;
  width: 100%;
}
.bg-group {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hamb-menu,
.close-menu {
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.hamb-menu-icon:hover,
.close-menu:hover {
  color: var(--color-aqua);
}
.overlay-nav {
  position: absolute;
  top: 72vh;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.nav-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.link-item {
  padding: 2%;
}
.link-item:last-child {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.signup-btn,
#btn-login {
  cursor: pointer;
  border: 1px solid var(--color-black);
  padding: 2%;
  background-color: white;
  color: #00426e;
  border-radius: 38px;
  box-sizing: border-box;
  /* font-size: 18px; */
  width: 70%;
  font-size: 18px;
  font-weight: 600;
  outline: none;
}
#btn-login {
  background: transparent;
  border: 1px solid #ffffff30;
  color: white;
  width: 70%;
}
#btn-login:hover {
  color: aqua;
  border-color: aqua;
}
.signup-btn:hover {
  background-color: aqua;
}
.explore-now4 {
  position: relative;
  font-size: 25.94px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--font-outfit);
  color: var(--color-midnightblue);
  text-align: left;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 11.030373573303223px 14.707165718078613px;
  background-color: var(--color-aqua);
  border-radius: 29.41px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-button:hover {
  background-color: rgb(0, 200, 200);
}
.frame-parent17,
.frame-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper {
  margin: 0 !important;
  width: 100%;
  flex-direction: row;
  padding: 2% 8%;
}
.frame-parent17 {
  border-radius: 52.89px 52.89px 0 52.89px;
  width: 50%;
  padding: 2% 3%;
  justify-content: space-between;
  background: 446BF4;
  flex-direction: column;
  position: absolute;
  left: 5%;
  top: 10%;
  z-index: 0;
  backdrop-filter: blur(5px);
}

.bg-head {
  position: absolute;
  width: 100%;
  height: 100%;
}
.untitled-13x-1-icon4 {
  position: absolute;
  margin: 0 !important;
  top: 2%;
  left: 53%;
  width: 605px;
  height: 688px;
  object-fit: cover;
  z-index: 1;
}
.frame-parent16,
.hero,
.hero-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.frame-parent16 {
  width: 96%;
  height: 730px;
  padding: 0 110px 0 134.3699951171875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: 38.77px;
  z-index: 0;
}
.hero,
.hero-section {
  align-self: stretch;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
}
.hero {
  backdrop-filter: blur(43.5px);
  height: 100%;
  flex-shrink: 0;
  z-index: 1;
}
.hero-section {
  z-index: 0;
  text-align: center;
  font-size: 48px;
  color: var(--color-lavender);
  font-family: var(--font-source-serif-pro);
  height: 850px;
}
.frammodify-1-child,
.frammodify-1-item {
  position: absolute;
  margin: 0 !important;
  top: 2352.56px;
  left: 0;
  width: 520.23px;
  height: 983.75px;
  z-index: 1;
}
.frammodify-1-item {
  top: 3036.04px;
  left: 968.93px;
  width: 439.56px;
  height: 230.36px;
  z-index: 2;
}
.features1 {
  margin: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 100%;
  height: 53.88px;
  text-align: center;
}
.frame-child5 {
  position: absolute;
  top: 53.25px;
  left: 12.75px;
  width: 123.5px;
  height: 3.5px;
}
.features-group {
  border-bottom: 3px solid #00ffe9;
  border-radius: 6%;
  width: 10%;
}
.features-group,
.frame-child6 {
  position: relative;
  width: 149px;
  height: 55px;
  display: flex;
  justify-content: center;
}
.frame-child6,
#interactive,
#resource {
  border-radius: var(--br-smi);
  width: 180px;
  height: 180px;
  padding: 4%;
}
.personalized-learning1 {
  margin: 0;
  position: relative;
  font-size: 21px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
  min-width: 300px;
}
.this-feature-ensures1 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
}
.rectangle-parent1 {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14.38px;
  background: white;
  border-radius: 24px;
  padding: 2% 5%;
  margin-top: 3%;
}
.ensures-that-students1,
.promotes-active-learning1 {
  position: relative;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  color: var(--color-gray-100);
  text-align: center;
  display: inline-block;
  width: 100%;
}
.frame-parent18,
.frame-parent19 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame-parent19 {
  width: 100%;
  min-width: 992px;
  height: 489px;
  flex-direction: row;
  padding: 0 10%;
  align-items: flex-start;
  gap: 70px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-source-serif-pro);
}
.frame-parent18 {
  height: 600px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 1% 0 var(--padding-67xl);
  align-items: center;
  gap: 1%;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
.frammodify-1-inner {
  position: absolute;
  margin: 0 !important;
  top: 33.5%;
  left: 0;
  object-fit: fill;
  width: 100%;
  height: 950px;
  z-index: 4;
}
.resource3 {
  margin: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
}
.resource-group {
  position: relative;
  width: 154px;
  height: 55px;
  border-bottom: 3px solid #00ffe9;
  border-radius: 6%;
  text-align: center;
  margin-bottom: 2%;
}
.all1 {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-black);
  text-align: left;
}
.all-container {
  cursor: pointer;
  padding: 8px 16px;
  background-color: var(--color-whitesmoke);
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}
.study-guide2 {
  position: relative;
  min-width: 40%;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-white);
  text-align: center;
}
.frame-parent20,
.study-guide-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}
.study-guide-container {
  cursor: pointer;
  border: 1.7px solid var(--color-whitesmoke);
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 25px;
  height: 45.08px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: nowrap;
}
.frame-parent20::-webkit-scrollbar {
  display: none;
}

.frame-parent20 {
  width: 100%;
  text-align: center;
  align-items: flex-start;
  gap: 3%;
}
.frame-child10 {
  position: relative;
  border-radius: var(--br-lgi);
  width: 100%;
  height: 57%;
  z-index: 0;
}
.frame-child11 {
  position: relative;
  width: 30.46px;
  height: 31.59px;
}
.history3,
.view-more3 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.history3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  display: inline-block;
  width: 50%;
  flex-shrink: 0;
  font-size: 22px;
}
.view-more3 {
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
  color: var(--color-black);
  text-align: left;
  font-size: 18px;
}
.group-parent1,
.view-more-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.view-more-wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-5xs);
  background-color: var(--color-lightskyblue);
  border-radius: var(--br-lgi);
  justify-content: flex-start;
  width: 55%;
  padding: 1% 3%;
  text-wrap: nowrap;
}
.group-parent1 {
  align-self: stretch;
  padding: 0 var(--padding-mini-5);
  justify-content: center;
  gap: var(--gap-5xs);
  z-index: 1;
}
.description6,
.lorem-ipsum-dolor8 {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 100%;
}
.lorem-ipsum-dolor8 {
  font-size: 13px;
  color: #859997;
  text-transform: lowercase;
  height: 52px;
}
.description-parent {
  width: 100%;
  height: 100%;
  border-radius: var(--br-2xs);
  background-color: var(--color-lightcyan-200);
  /* height: 31%; */
  display: flex;
  flex-direction: column;
  padding: 4% 5%;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 2;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.frame-child12,
.screenshot-86-23 {
  position: absolute;
  margin: 0 !important;
}
.screenshot-86-23 {
  top: 47px;
  left: 143px;
  border-radius: 9.23px;
  width: 146.58px;
  height: 204px;
  object-fit: cover;
  z-index: 3;
}
.frame-child12 {
  top: 21px;
  left: 40px;
  background-color: var(--color-gray-300);
  filter: blur(10px);
  width: 160px;
  height: 235px;
  z-index: 4;
}
.screenshot-86-13 {
  position: relative;
  border-radius: 7.66px;
  width: 165px;
  height: 235.87px;
  object-fit: cover;
  z-index: 0;
}
.frame-child13 {
  top: 119.07px;
  left: -6px;
  border-radius: var(--br-lgi);
  width: 288px;
  height: 122px;
  z-index: 1;
}
.frame-child13,
.grade-94,
.screenshot-86-1-parent {
  margin: 0 !important;
  position: absolute;
}
.grade-94 {
  top: 162px;
  left: 42px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  z-index: 2;
}
.screenshot-86-1-parent {
  top: 21px;
  left: 21px;
  width: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 9.43px;
  z-index: 5;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.frame-child14 {
  position: absolute;
  margin: 0 !important;
  top: 153px;
  left: 189px;
  width: 87.41px;
  height: 94.46px;
  z-index: 6;
}
.vector-container,
.view-more-wrapper3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector-container {
  border-radius: var(--br-lg);
  background-color: var(--color-lightcyan-100);
  width: 316px;
  height: 445px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-xs);
  width: 33%;
  height: 500px;
  padding: 1% 4% 4%;
  border-radius: 16px;
  border: 1px solid #042e41;
  box-shadow: 0px 8.5px 8.5px 0px rgba(80, 186, 231, 0.137);
  gap: 3%;
}
.view-more-wrapper3 {
  border-radius: var(--br-lgi);
  background-color: var(--color-lightskyblue);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--font-size-base);
}
.frame-child29 {
  position: absolute;
  margin: 0 !important;
  top: 153px;
  left: 215.64px;
  width: 64.8px;
  height: 76.74px;
  z-index: 6;
}
.frame-parent21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-141xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-source-serif-pro);
  width: 1084px;
  padding: 2% 5%;
  gap: 2%;
}
.frame-parent21::-webkit-scrollbar {
  opacity: 0;
}
.slide-indicator-icon1 {
  position: relative;
  width: 119.96px;
  height: 19.99px;
}

.frame-210,
.frame-210 * {
  box-sizing: border-box;
}
.frame-210 {
  width: 100%;
  position: absolute;
  top: 88%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
}
.slide-indicator {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.ellipse-2 {
  background: #cfe9ef;
  border-radius: 50%;
  flex-shrink: 0;
  width: 15.99px;
  height: 15.99px;
  position: relative;
}
.rectangle-16 {
  background: aqua;
  border-radius: 11px;
  align-self: stretch;
  flex-shrink: 0;
  width: 34px;
  position: relative;
}
.ellipse-3 {
  background: #cfe9ef;
  border-radius: 50%;
  flex-shrink: 0;
  width: 15.99px;
  height: 15.99px;
  position: relative;
}
.ellipse-4 {
  background: #cfe9ef;
  border-radius: 50%;
  flex-shrink: 0;
  width: 15.99px;
  height: 15.99px;
  position: relative;
}

.resource2 {
  position: relative;
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  height: 831px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-15xl-5);
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
  background: no-repeat url(/static/public/bg-resource.svg);
  background-size: cover;
  background-position: center;
}
.frame-child30,
.frame-child31,
.frame-child32 {
  position: absolute;
  width: 382.09px;
  height: 467.3px;
  transform: rotate(-18.38deg);
  transform-origin: 0 0;
}
.frame-child30 {
  top: 120.5px;
  left: 0;
  background-color: rgba(169, 234, 255, 0.63);
  filter: blur(49.5px);
}
.frame-child31,
.frame-child32 {
  top: 131.92px;
  left: 37.57px;
  background-color: var(--color-darkslategray-400);
}
.frame-child32 {
  top: 80.26px;
  left: 85.51px;
  background-color: var(--color-darkorange);
  width: 402.39px;
  height: 465.22px;
  transform: rotate(-8.18deg);
}
.frame-child33 {
  position: absolute;
  top: 57.53px;
  left: 146.77px;
  width: 389.19px;
  height: 471.66px;
  object-fit: cover;
}
.rectangle-parent4 {
  position: relative;
  width: 550px;
  height: 575.37px;
  z-index: 0;
}
.photo-2023-08-22-03-54-20-1-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 145.75px;
  left: 1047px;
  width: 350px;
  height: 460.75px;
  object-fit: cover;
  z-index: 1;
}
.frame-parent23 {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 75px;
  z-index: 0;
}
.bg-icon3 {
  position: relative;
  border-radius: var(--br-10xs-5);
  width: 651.31px;
  height: 410.09px;
}
.headline-21,
.lorem-ipsum-dolor12 {
  position: absolute;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.headline-21 {
  margin: 0;
  top: 51.69px;
  left: 53.96px;
  font-size: inherit;
  font-family: inherit;
  width: 536.64px;
  height: 114.29px;
}
.lorem-ipsum-dolor12 {
  top: 151.2px;
  left: 54.88px;
  font-size: var(--font-size-base);
  width: 482.29px;
  height: 114.67px;
}
.bg-container {
  position: relative;
  width: 651.31px;
  height: 410.09px;
  z-index: 0;
}
.search-resource-here1 {
  position: relative;
  text-transform: lowercase;
}
.search-resource-here-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 25.5px;
  align-items: center;
  justify-content: flex-start;
}
.search1 {
  position: relative;
  font-size: 20.45px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-outfit);
  color: var(--color-midnightblue);
  text-align: left;
}
.frame-parent25,
.search-container {
  border-radius: 23.19px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-container {
  cursor: pointer;
  border: 0;
  padding: 8.696491241455078px 11.595320701599121px;
  background-color: var(--color-aqua);
  justify-content: center;
}
.frame-parent25 {
  margin: 0 !important;

  background-color: var(--color-azure);
  border: 2.3px solid var(--color-darkcyan);
  box-sizing: border-box;
  width: 394px;
  justify-content: flex-end;
  gap: 5.8px;
  z-index: 1;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.frame-parent22,
.frame-parent24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent24 {
  width: 100%;
}
.frame-parent22 {
  width: 100%;
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0% 2% 4%;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-source-serif-pro);
}
.rectangle-section {
  position: absolute;
  margin: 0 !important;
  top: 3206.11px;
  left: 0;
  background: url("/static/public/testimoney.svg");
  object-fit: fill;
  width: 100%;
  height: 800px;
  z-index: 7;
}
.frame-child34 {
  position: absolute;
  top: 55.76px;
  left: 23.25px;
  width: 127.63px;
  height: 3.5px;
}
.testimony-group {
  position: relative;
  width: 162px;
  height: 57.51px;
  border-bottom: 2px solid #00ffe9;
  border-radius: 6%;
  z-index: 0;
}
.union-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 26.08px;
  width: 365px;
  height: 222.67px;
}
.explore-now5 {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.explore-now-wrapper2,
.union-inner3 {
  border-radius: var(--br-mini-5);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.explore-now-wrapper2 {
  background-color: var(--color-aqua);
  padding: 5.438744068145752px 7.251659393310547px;
  justify-content: center;
}
.union-inner3 {
  position: absolute;
  top: 169.39px;
  left: 72.71px;
  width: 98.59px;
  justify-content: flex-start;
}
.union-child6 {
  position: absolute;
  top: 176.88px;
  left: 72.84px;
  width: 52.86px;
  height: 58.2px;
}
.union3 {
  position: relative;
  background: url("/static/public/comment.svg");
  backdrop-filter: blur(5.74px);
  width: 365px;
  height: 235.08px;
}
.lorem-ipsum-dolor-container6 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 327.57px;
  height: 126.24px;
}
.frame-icon18 {
  position: relative;
  width: 21.96px;
  height: 21.96px;
  overflow: hidden;
  flex-shrink: 0;
}
#headline-2 {
  position: relative;
  width: 100%;
  top: 0;
  left: -16%;
  background: #00fdff70;
  justify-content: center;
  padding: 4% 8%;
  border-radius: 4% 4% 1% 4%;
}
.review-box {
  position: relative;
}
.frame-parent29,
.reviews-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent29 {
  width: 133.78px;
  gap: var(--gap-7xs);
}
.reviews-parent1 {
  width: 100%;
  gap: 2%;
  text-align: left;
  font-size: 17.38px;
  color: var(--color-cadetblue);
  font-family: var(--font-outfit);
}
.lorem-ipsum-dolor-sit-amet-co-parent1 {
  position: absolute;
  top: 41.62px;
  left: 24.78px;
  width: 327.57px;
  height: 159.22px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-source-serif-pro);
}
.union-parent1 {
  position: relative;
  width: 365px;
  height: 235.08px;
}
.frame-child35 {
  position: absolute;
  top: 0.32px;
  left: 150.49px;
  border-radius: 45.74px;
  width: 85.08px;
  height: 81.42px;
  object-fit: cover;
}
.wade-warren {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.profession-wrapper1,
.wade-warren-wrapper {
  position: absolute;
  top: 92.39px;
  left: 0;
  width: 386.04px;
  display: flex;
  flex-direction: column;
  padding: 0 13.26457405090332px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.profession-wrapper1 {
  top: 126.24px;
  font-size: 16.47px;
  color: var(--color-lightgray);
}
.vector-parent4 {
  position: relative;
  width: 386.04px;
  height: 147.24px;
  font-size: var(--font-size-lg-3);
  color: var(--color-cadetblue);
  font-family: var(--font-source-serif-pro);
}
.frame-parent28 {
  border-radius: 16.47px;
  width: 365px;
  height: 425px;
  display: flex;
  flex-direction: column;
  padding: 15.551568984985352px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 10.98px;
}
.reviews-parent2 {
  position: absolute;
  top: 137.22px;
  left: 12.13px;
  background-color: var(--color-lightcyan-100);
  width: 187.35px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10.98px;
  font-size: 17.38px;
  color: var(--color-cadetblue);
  font-family: var(--font-outfit);
}
.lorem-ipsum-dolor-sit-amet-co-parent2 {
  position: absolute;
  top: 41.62px;
  left: 24.78px;
  width: 327.57px;
  height: 159.22px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-200);
  font-family: var(--font-source-serif-pro);
}
.reviews-parent3 {
  position: absolute;
  top: 0;
  left: 12.13px;
  background-color: var(--color-lightcyan-100);
  width: 187.35px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10.98px;
}
.frame6 {
  position: absolute;
  top: 137.22px;
  left: 0;
  width: 199.48px;
  height: 22px;
  overflow: hidden;
  text-align: left;
  font-size: 17.38px;
  color: var(--color-cadetblue);
  font-family: var(--font-outfit);
}
.frame-parent27 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-141xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  z-index: 1;
  font-size: 12.79px;
  color: var(--color-midnightblue);
}
.slide-indicator-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 637.51px;
  left: 680px;
  width: 119.96px;
  height: 19.99px;
  z-index: 2;
}
.frame-parent26 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 5% 0%;
  height: 634px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-15xl-5);
  z-index: 8;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
  background: no-repeat url(/static/public/testimoney.svg);
  background-size: cover;
  background-position: center;
}
.contact-us-group {
  position: relative;
  width: 187px;
  height: 57.51px;
  border-bottom: 3px solid #00ffe9;
  border-radius: 6%;
}
.frame-child39,
.frame-parent34 {
  align-self: stretch;
  overflow: hidden;
}
.frame-parent34 {
  display: flex;
  flex-direction: column;
  padding: 4% 2%;
  align-items: center;
  justify-content: center;
  gap: var(--gap-15xl-5);
  background: azure;

  z-index: 9;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
.untitled-13x-1-icon5 {
  position: relative;
  width: 33px;
  height: 33.27px;
  object-fit: cover;
  padding: 1%;
}
.miiltoo3 {
  position: relative;
  text-transform: capitalize;
}
.untitled-13x-1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-12xs-5);
}
.grade-container,
.pages-container {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-mini-5);
  align-items: center;
  justify-content: flex-start;
}
.pages-container {
  padding: 0 var(--padding-15xl-5);
}
.social-media-container {
  padding: 0 var(--padding-4xs);
  justify-content: flex-start;
}
.home-container,
.social-media-container,
.top1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-container {
  flex: 1;
  padding: 0 var(--padding-82xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 78.5px;
  min-width: 512px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-source-serif-pro);
}
.top1 {
  align-self: stretch;
  background-color: var(--color-gray-400);
  backdrop-filter: blur(16px);
  padding: 0 var(--padding-141xl) 0 var(--padding-106xl);
  justify-content: center;
  gap: var(--gap-5xs);
}
.grade-group,
.grade-9-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.grade-102 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 73px;
  height: 19px;
  flex-shrink: 0;
}

.contact2 {
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 62px;
  height: 20px;
  flex-shrink: 0;
}
.frame-parent35 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
}
.footer-child {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.footer-text1 {
  position: relative;
  line-height: 21.75px;
  text-align: center;
}
.footer1,
.frame-footer {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frame-footer {
  background-color: var(--color-darkslategray-500);
  height: 58.31px;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-mini-5);
  color: var(--color-silver);
  font-family: var(--font-inter);
}
.footer1 {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 10;
  text-align: center;
  font-size: 31.99px;
  color: var(--color-white);
  font-family: var(--font-pacifico);
}
.frammodify-1-child1 {
  position: absolute;
  margin: 0 !important;
  top: 833px;
  left: 1008px;
  border-radius: 50%;
  background: linear-gradient(180deg, #0503ec 34.69%, #f860ff);
  filter: blur(11px);
  width: 96px;
  height: 16px;
  z-index: 11;
}
.ellipse-icon,
.frammodify-1-child2 {
  position: absolute;
  margin: 0 !important;
  top: 816px;
  left: 913px;
  width: 65px;
  height: 57px;
  z-index: 12;
}
.frammodify-1-child2 {
  top: 811px;
  left: 1130px;
  height: 59px;
  z-index: 13;
}
.frammodify-1 {
  position: relative;
  background-color: var(--color-azure);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.contact-box,
.contact-box * {
  box-sizing: border-box;
}
.contact-box {
  border-radius: 26px;
  border-style: solid;
  border-color: #00ffe9;
  background: no-repeat url(/static/public/contact-bg.jpg);
  background-position: center;
  background-size: cover;
  border-width: 0.5px;
  padding: 32px 0px 32px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 92%;
  position: relative;
  box-shadow: 1px 3px 12px 0px #00000017;
}
.contact-headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact-us {
  color: #000000;
  text-align: left;
  font: 600 38px "Source Serif Pro", sans-serif;
  position: relative;
}
.line-1 {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.fullname-box,
.email-box,
.meassage-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-221 {
  width: 100%;
  padding: 2% 0%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  left: 8%;
}
.full-name,
.email,
.message {
  color: #2fa4be;
  text-align: left;
  font: 500 20px "Source Serif Pro", sans-serif;
  position: relative;
}
.frame-222 {
  border-radius: 10.5px;
  padding: 4% 4%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 82%;
  position: relative;
}
.username-or-email {
  width: 100%;
  backdrop-filter: blur(41px);
  background: #ffffff45;
  color: #3b7ede;
  text-align: left;
  font: 400 18px "Source Serif Pro", sans-serif;
  position: absolute;
  top: 2%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4% 12% 4% 4%;
  border-radius: 14px;
  border: 1px solid aqua;
}
.username-or-email:focus {
  outline: none;
  border: 2px solid #2fa4be;
  background: none;
}
.username-or-email::placeholder {
  color: rgba(0, 0, 0, 0.696);
  font-weight: 500;
}

.icon-user,
.icon-envelope {
  flex-shrink: 0;
  position: absolute;
  top: 32%;
  left: 90%;
  width: 18px;
  overflow: visible;
}

.frame-2222 {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 79%;
  height: 200px;
  position: relative;
}
.send-btn {
  cursor: pointer;
  background: #65fffc;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.send-btn:hover {
  background: rgb(0, 225, 225);
}
.send-undefined {
  flex-shrink: 0;
  position: relative;
  overflow: visible;
}
.send-message {
  color: #042e41;
  text-align: left;
  font: 600 22px "Source Serif Pro", sans-serif;
  text-transform: lowercase;
  position: relative;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 2px;
}

/* Style the dropdown links */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.nav-dropdown {
  position: absolute;
  top: 4%;
  width: 100%;
  background: #1f323df5;
  backdrop-filter: blur(5px);
  padding: 8%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.hidden {
  display: none;
}
.overflow-hid {
  overflow: hidden;
}
.review-box {
  border-radius: 24px;
  width: 80%;
  height: 24%;
  background: #202124;
  padding: 8% 4%;
  top: 0;
  left: 0;
}
.top-tag {
  display: none;
}

@media only screen and (width <768px) {
  .hero-section {
    height: 650px;
  }

  .headline1 {
    font-weight: 600;
    padding: 4% 8% 0% 8%;
    font-size: 39px;
  }
  .lorem-ipsum-dolor7 {
    margin: 0;
    font-size: 16px;
    line-height: 130%;
  }
  .explore-now4 {
    font-size: 16px;
  }

  .frame-parent17 {
    width: 75%;

    height: 45%;
  }

  .review-box {
    height: 100%;
  }

  .frammodify-1-inner {
    top: 30%;
  }
  .frame-parent18 {
    height: 1400px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (width <= 600px) {
  .header1 {
    padding: 4px 10%;
  }
  .hero-section {
    height: 75vh;
  }
  .hero-child {
    height: 100%;
  }

  .headline1 {
    font-weight: 600;
    font-size: 28px;
  }
  .frame-parent17 {
    border-radius: 28px;
    width: 88%;
    height: 46%;
  }
  .par2 {
    display: none;
  }
  .lorem-ipsum-dolor-container5 {
    font-size: 16px;
  }

  .frammodify-1-inner {
    top: 33.5%;
  }
  .this-feature-ensures1 {
    font-size: 16px;
  }
  .ensures-that-students1,
  .promotes-active-learning1 {
    font-size: 16px;
  }
  .untitled-13x-1-icon4 {
    top: 39%;
    left: 52%;
    width: 48%;
    height: 52%;
  }
  .features-group,
  .frame-child6 {
    font-size: 32px;
  }
  .frame-parent19 {
    height: 100%;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-width: 65%;
    gap: 16px;
  }
  .rectangle-parent1 {
    width: 90%;
    padding: 8% 5%;
  }

  .frame-parent18 {
    height: 1400px;
  }

  .resource-group {
    font-size: 32px;
    margin-top: 3%;
  }
  .frame-parent20 {
    width: 100%;
    gap: 4%;
    padding: 4%;
    padding-left: 4%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    align-items: center;
    justify-content: flex-start;
  }
  .all1,
  .study-guide2 {
    font-size: 18px;
  }
  .frame-parent21 {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-inline: contain;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 4%;
    margin-top: 0%;
  }
  .rectangle-parent4 {
    position: relative;
    width: 350px;
    height: 500px;
    z-index: 0;
  }
  h2 {
    font-size: 32px;
  }
  .frame-parent24 {
    width: 80%;
    padding: 4% 8%;
  }
  .frame-parent26 {
    padding: 16% 0%;
  }
  .review-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
  }
  .home-container {
    display: none;
  }
  .top-tag {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: white;
  }
  .frame-parent19 {
    flex-direction: column;
  }
  .vector-container {
    gap: 1%;
    width: 240px;
    height: 340px;
  }
  .vector-container:last-child {
    margin-right: 8%;
  }
  .resource2 {
    padding: 5% 0%;
    height: 570px;
    gap: 1%;
  }
  .resource-slider {
    opacity: 0;
  }
  .lorem-ipsum-dolor8 {
    font-size: 13px;
  }
  .history3 {
    font-size: 20px;
  }
  .view-more3 {
    min-width: 80px;
    font-size: 16px;
  }
  .frame-parent35 {
    flex-direction: column;
  }
}
@media only screen and (600px <width <=768pc) {
  .untitled-13x-1-icon4 {
    top: 22%;
    left: 60%;
    width: 200px;
    height: 415px;
  }
  .rectangle-parent1 {
    width: 38%;
  }
  .frame-parent19 {
    min-width: 600px;
    flex-wrap: wrap;
    padding: 0% 5%;
    justify-content: center;
    gap: 3%;
  }
  .frame-parent18 {
    height: 1032px;
  }
  .vector-container {
    width: 258px;
    height: 388px;
    padding: 1%;
  }
  .resource2 {
    gap: 1%;
    height: 680px;
  }

  .frame-parent21 {
    justify-content: flex-start;
    width: 100%;
    gap: 3%;
  }
  .home-container {
    display: none;
  }
  .top-tag {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (768px < width < 992) {
  .frame-parent35 {
    gap: 6%;
  }
}
@media only screen and (width <992px) {
  .hamb-menu {
    display: block;
  }
  .home-group,
  .login-group {
    display: none;
  }
  .header1 {
    justify-content: space-between;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (width >= 992px) {
  .hamb-menu {
    display: none;
  }
  .home-group,
  .login-group {
    display: flex;
  }
  .untitled-13x-1-icon4 {
    top: 19%;
    left: 60%;
    width: 330px;
    height: 542px;
  }
  .frame-parent18 {
    height: 615px;
  }
  .frame-parent19 {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0 6%;
    gap: 3%;
  }
  .rectangle-parent1 {
    width: 24%;
  }
  .frame-parent35 {
    gap: 6%;
  }

  .frame-parent21 {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .vector-container {
    width: 280px;
    height: 436px;
    padding: 1%;
    border-radius: 16px;
    gap: 3%;
  }

  .resource2 {
    height: 670px;
    background-position: top;
    gap: 0%;
  }
  .frame-parent20 {
    gap: 2%;
  }
  .study-guide2 {
    min-width: 11%;
  }
  .frame-parent20 {
    padding-bottom: 2%;
    gap: 3%;
  }
  .frame-221 {
    width: 15%;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    left: 0;
  }
  .contact-box {
    width: 64%;
    padding: 8% 8%;
    gap: 3rem;
  }
  .fullname-box,
  .email-box,
  .meassage-box {
    flex-direction: row;
    width: 88%;
  }
  .meassage-box {
    align-items: flex-start;
  }
  .full-name,
  .email,
  .message {
    text-align: right;
    min-width: 93px;
  }
}
