body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-source-serif-pro: "Source Serif Pro";
  --font-outfit: Outfit;
  --font-pacifico: Pacifico;
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-3xl: 22px;
  --font-size-mini-5: 14.5px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray-100: #7e7e7e;
  --color-gray-200: rgba(32, 32, 32, 0.96);
  --color-darkslategray-100: #3c3c3c;
  --color-silver-100: #c3c3c3;
  --color-white: #fff;
  --color-dimgray: #525252;
  --color-black: #000;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-7xs: 6px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-10xs-5: 2.5px;
  --padding-3xs: 10px;
  --padding-9xs-5: 3.5px;
  --padding-2xl: 21px;
  --padding-7xs-5: 5.5px;
  --padding-6xs: 7px;
  --padding-141xl: 160px;

  /* border radiuses */
  --br-6xs: 7px;
  --br-mini: 15px;
}
