@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  /* fonts */
  --font-pacifico: Pacifico;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-mini-5: 14px;
  --font-size-base: 16px;
  --font-size-lg: 16px;
  --font-size-Hb: 25px;
  --font-size-Xl: 32px;
  --font-size-XXl-sc: 48px;
  --font-size-XXl-pr: 61px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #080d27;
  --color-secondary: #1e206f;
  --color-accent: #22fbf9;
  font-family: var(--font-roboto);
}
/*  .grade-menu,
.profile-menu {
  position: absolute;
  top: 8.9%;
  left: 43.5%;
} 
.profile-menu {
  left: 73.8%;
} */
.chat-sec {
  width: 98%;
  display: flex;
  height: 87vh;
  padding: 8px 0%;
  /* padding-left: 16px; */
  align-items: flex-start;
  gap: 32px;
}
.book-container {
  position: relative;
  width: 190%;
  height: 100%;
}
.book-container.toWidth {
  width: 90%;
}
.pdf-section {
  width: 100%;
  height: 91%;
  border-radius: 24px 24px 4px 4px;
}
footer {
  display: none;
}
.chatbot-container {
  /* width: 100%; */
  /* min-width: 450px; */
  position: relative;
  display: flex;
  height: 93%;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-right: 1%;
}
.chatbot-var-1 {
  min-width: 61px;
  display: flex;
  width: 254px;
  height: 95%;
  padding: 33.5px 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--secondary, #1e206f);
  background: var(--primary, #080d27);
  overflow: hidden;
}
.chatbot-var-1.width {
  width: 61px;
}
.arrow-btn {
  display: flex;
  padding: 7.566px;
  justify-content: center;
  align-items: center;
  gap: 11.98px;
  position: absolute;
  left: -13px;
  top: 20px;
  color: var(--color-white);
  border-radius: 20.216px;
  border: 1.513px solid var(--secondary, #1e206f);
  background: var(--primary, #080d27);
  box-shadow: 0px 0.77778px 6px 0px #22fbf9;
}
.right-arrow-btn.rotate-btn {
  transform: rotate(180deg);
}

.chat-left-btn.rotate-btn {
  transform: rotate(0deg);
}
.arrow-btn i {
  font-size: 12px;
}
.arrow-btn:hover {
  cursor: pointer;
  color: var(--color-accent);
}
.chatbot-logo {
  transform: translateX(120%);
  opacity: 0;
  transition: transform 0.8s ease;
  display: none;
}
.chatbot-logo.visible {
  display: block;
  transform: translateX(0);
  opacity: 1;
}
.chatbot-headline {
  display: flex;
  height: 95px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 12px;
  background: rgba(30, 32, 111, 0.42);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateX(0%);
  transition: transform 0.5s ease;
}
.chatbot-headline span {
  color: var(--color-accent);
}
.chatbot-headline.toPosition {
  transform: translateX(110%);
  opacity: 0;
}
.robot-say-hi {
  display: flex;
  padding: 18px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transform: translateX(0%);
  transition: transform 0.5s ease;
}
.robot-say-hi.toPosition {
  transform: translateX(130%);
  opacity: 0;
}
.robot-say-hi img {
  width: 202.5px;
  height: 162px;
  border-radius: 81px;
  box-shadow: 0px -7.5px 97.97px 0px rgba(20, 25, 231, 0.68);
}
.func-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.func-container.toY {
  transform: translateY(-230px);
}
.chatbot-func-item {
  position: relative;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  align-self: stretch;
  gap: 11px;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 8px;
  border: none;
  background: rgb(30 32 111 / 25%);
  transition: transform 0.3s ease;
}
.chatbot-func-item p.minWidth {
  min-width: 160px;
  opacity: 0;
}

.flashlight {
  box-shadow: -68.5px 0px 17.5px 0px rgba(34, 251, 249, 0.9);
}
.func-item-icon i {
  font-size: 18px;
  color: var(--color-white);
  opacity: 0.9;
}
.chatbot-func-item p {
  opacity: 0.9;
}
.chatbot-func-item:hover {
  cursor: pointer;
  background: #457dee85;
  /* border: 3px solid var(--color-secondary); */
  transform: scale(1.06);
}
.chatbot-func-item:hover .func-item-icon i,
.chatbot-func-item:hover p {
  opacity: 1;
}
.active-state-shape {
  height: 32px;
  position: absolute;
  left: 0.5px;
  bottom: 3.93px;
}
.active-state-shape img {
  width: 6px;
  height: 32px;
}
.func-item-icon {
  position: relative;
  display: flex;
  padding: 4.465px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.465px;
  border-radius: 7.535px;
  /* background: rgba(30, 32, 111, 0.56); */
  /* box-shadow: 0px 1.11623px 5.58116px 0px #080d27; */
}

#quize-btn .func-item-icon :nth-child(2) {
  font-size: 8px;
  position: absolute;
  top: 7px;
  left: 11px;
}
.upload-popup {
  width: 56%;
  position: fixed;
  top: 10vh;
  margin: 0 1%;
  z-index: 4;
  z-index: 4;
  margin: 0 22%;
}

.chatbot-var-2,
.chatbot-var-3,
.chatbot-var-4 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: var(--primary, #080d27);
  backdrop-filter: blur(12.158369064331055px);
}
.chatbot-var-2,
.chatbot-var-3 {
  width: 38vw;
}
.chatbot-var-2.hidden {
  display: none;
}
.chat-top-container {
  display: flex;
  padding: 0px 11.79px;
  flex-direction: column;
  align-items: center;
  gap: 11.053px;
  align-self: stretch;
}
.var2-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  align-self: stretch;
  color: var(--color-white);
  font-family: var(--font-pacifico);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.var2-logo img {
  width: 24px;
  height: 24px;
}
.var2-logo span {
  color: var(--color-accent);
  margin-left: -11px;
  text-transform: none;
}
.chat-top-headline {
  display: flex;
  padding: 0px 1.228px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.chat-text {
  position: relative;
  display: flex;
  padding: 0px 4.912px 0px 1.719px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.chat-text-icon i {
  color: var(--color-accent);
}
.chat-text-icon :nth-child(2) {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 8px;
}
.subject-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.subject-text-icon i {
  font-size: 14px;
}
.subject-name {
  font-size: 14px;
  font-weight: 400;
}
.ask-form,
.generate-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.generate-form {
  gap: 24px;
}
.text-input-container {
  position: relative;
  display: flex;
  height: 38px;
  padding: 8px 9.334px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.93px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 8px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
  color: var(--color-white);
}
.text-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  height: 63%;
  background: transparent;
  border: none;
  border-radius: inherit;
  padding: 1.5% 2%;
  color: var(--color-white);
  font-size: 16px;
  font-family: var(--font-roboto);
  font-weight: 400;
  line-height: 150%;
  text-indent: 28px;
}
.text-input:focus {
  outline: none;
  border: 1px solid var(--color-secondary);
}
.text-input::placeholder {
  font-family: var(--font-roboto);
  color: var(--color-white);
  opacity: 0.7;
}
.text-input::-webkit-scrollbar {
  width: 8px;
  background: var(--color-secondary);
}

.text-input::-webkit-scrollbar-thumb {
  width: 4.421px;
  border-radius: 4.912px;
  background: rgba(34, 251, 249, 0.75);
}
.text-input::-webkit-scrollbar-track {
  width: 2px;
  background: var(--color-primary);
  border-radius: 16px;
}
.question-icon {
  color: var(--color-accent);
  padding: 0.5% 1%;
  font-size: 12px;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  background: var(--color-primary);
  z-index: 2;
}
.ask-btn,
.generate-btn,
.submit-Answer-btn {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  color: var(--color-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background: var(--action, #22fbf9);
  border: none;
}
.ask-btn:hover,
.generate-btn:hover,
.submit-Answer-btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
.ask-btn-icon,
.generate-btn-icon {
  position: relative;
}
.icon-text {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 6px;
  color: var(--color-accent);
}
.result-label {
  display: flex;
  align-items: center;
  gap: 6.877px;
  align-self: stretch;
}
.result-label-item {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--secondary, #1e206f);
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.static-icon i {
  font-size: 20px;
  color: var(--color-accent);
}
.result-container {
  display: flex;
  height: 100%;
  padding: 8px 15.72px;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: anywhere;
}
.result-container::-webkit-scrollbar {
  width: 8px;
  background: var(--color-secondary);
}

.result-container::-webkit-scrollbar-thumb {
  width: 4.421px;
  border-radius: 4.912px;
  background: rgba(34, 251, 249, 0.75);
}
.result-container::-webkit-scrollbar-track {
  width: 2px;
  background: var(--color-primary);
  border-radius: 16px;
}
.result-container-item {
  width: 100%;
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}
.user-message-container,
.user-message-container-my {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.user-message-container {
  min-width: 240px;
  flex-direction: column;
}

.user-message-icon,
.chatbot-icon {
  display: flex;
  padding: 6px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.465px;
  border-radius: 7.535px;
  background: rgba(30, 32, 111, 0.56);
  box-shadow: 0px 1.11623px 5.58116px 0px #080d27;
}
.result-container-item :last-child .user-message-container-my {
  margin-bottom: 2%;
}
.user-message-icon i {
  font-size: 24px;
  color: var(--color-accent);
}
.user-message-content {
  display: flex;
  padding: 8px 9.334px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.93px;
  border-radius: 7.614px;
  border: 0.5px solid var(--color-secondary);
  background: rgba(30, 32, 111, 0.2);
  color: var(--color-accent);
  font-size: 14px;
  flex: 1 0 0;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: none;
}
.chatbot-message-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.chatbot-icon {
  border-radius: 32px;
}
.chatbot-icon img {
  width: 24px;
}
.chatbot-content,
.content-afterResponse {
  width: 100%;
  display: flex;
  /* width: 488px; */
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 168%;

  padding: 8px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 3.93px;
  flex: 1 0 0;
  flex-wrap: wrap;
  border-radius: 7.614px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
  text-transform: none;
}
.selection-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
/* .chapter-container :first-of-type {
  position: absolute;
  top: 24px;
  left: 70vw;
} */
.chapter-container {
  /* position: absolute;
  top: 24px;
  left: 70vw; */
  /* width: 72%; */
  display: flex;
  align-items: flex-start;
  gap: 5.337px;
  border-radius: 10.341px;
  background: rgba(30, 32, 111, 0.3);
  z-index: 4;
}
.chapter,
.subtopic,
.totalNoQuize {
  width: 100%;
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 5.337px;
  border-radius: 10.341px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
  color: var(--color-white);
  opacity: 0.8;
  font-family: var(--font-roboto);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-image: url(/static/asset/drop-icon.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  padding-left: 28px;
}
.chapter:focus,
.subtopic:focus,
.totalNoQuize:focus {
  outline: none;
  background: var(--color-primary);
  backdrop-filter: blur(8.75px);
}
.chapter option,
.subtopic option,
.totalNoQuize option {
  background: #1e206f;
}
.generated-quize-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.quize-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4%;
  gap: 8px;
  margin: 16px 0;
  border-radius: 7.614px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
}

.quize-question-container,
.quize-choose {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
}
.quize-choose {
  padding-left: 24px;
  align-items: center;
  align-self: auto;
}
.quize-no,
.choose-list {
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.465px;
  color: var(--color-accent);
  border: 2px solid var(--color-secondary);
  border-radius: 6px;
  background: #1e206f99;
}
.quize-question,
.choose-item {
  display: flex;
  padding: 8px 9.334px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.93px;
  flex: 1 0 0;
  border-radius: 7.614px;
  /* border: 0.5px solid var(--secondary, #1e206f); */
  /* background: rgba(30, 32, 111, 0.2); */
}
.quize-choose {
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
}
.choose-list {
  color: var(--color-white);
  border-radius: 24px;
}
.quize-choose:hover {
  cursor: pointer;
}
.choose-list.active {
  border: 2px solid var(--action, #22fbf9);
  background: rgba(30, 32, 111, 1);
  box-shadow: 0px 1.11623px 5.58116px 0px #080d27;
}
.blue-line,
.result-line {
  width: 100%;
  height: 3.5px;
  background: var(--color-secondary);
  border-radius: 8px;
}
.submit-Answer-btn {
  margin-bottom: 16px;
}
.result-label2-container {
  position: relative;
  display: flex;
  padding: 9.5px 0px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.result-line {
  position: absolute;
  top: 27px;
  /* left: 92px; */
  z-index: -1;
}
.result-label2 {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border: 3px solid var(--secondary, #1e206f);
  background: var(--secondary, #1e206f);
}
.score-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.score-board {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border: 1px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.5);
}
.score {
  color: var(--color-accent);
}
.explanation-label {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  background: rgba(30, 32, 111, 0.2);
}
.fether-icon {
  color: var(--color-accent);
}
.explanation-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin: 10px;
  align-self: stretch;
}
.expln-item {
  /* width: 90%; */
  margin: 8px 0;
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  border-radius: 7.614px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
}
.question-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}
.your-answer,
.correct-answer {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border: 1px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.5);
}
.x-icon,
.correct-icon i {
  color: var(--color-accent);
}
.expln-detail-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.expln-detail-label {
  font-size: 16px;
  background: rgba(30, 32, 111, 0.2);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}
.expln-detail-label span {
  color: var(--color-white);
}
.expln-detail {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  color: var(--color-white);
  opacity: 0.9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  background: transparent;
  box-shadow: 0px 4px 7.5px 0px rgba(0, 0, 0, 0.25);
}
.upload-top-container {
  display: flex;
  padding: 0px 12px 16px 12px;
  flex-direction: column;
  align-items: center;
  gap: 11.053px;
  align-self: stretch;
}
.drop-area {
  display: flex;
  padding: 48px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 2px dashed var(--secondary, #1e206f);
  border-style: dashed 10px 5px;
  background: rgba(30, 32, 111, 0.1);
}
.drop-area-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.cloud-icon i {
  font-size: 42px;
  color: var(--color-accent);
}

.drop-area.highlight {
  border: 2px dashed var(--color-accent);
}
input[type="file"] {
  display: none;
  font-size: 16px;
  color: var(--color-accent);
}
input[type="file"]:hover {
  cursor: pointer;
}

.fileElem {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.browse-button {
  text-transform: capitalize;
  color: var(--color-accent);
  text-decoration: underline;
}
.browse-button:hover {
  cursor: pointer;
}
.file-name {
  margin-left: 10px;
}
.sub-label {
  color: var(--color-white);
  opacity: 0.65;
  font-size: 14px;
  font-weight: 400;
}
#upload-button {
  position: absolute;
  top: 85%;
  left: 79%;
  display: flex;
  padding: 8px 16px;
  font-size: 16px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  border-radius: 24px;
  border: 1.7px solid var(--color-secondary);
  background: #1e1f6f78;
}

#upload-button:hover {
  cursor: pointer;
}
.recent-label {
  display: flex;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.recent-icon i {
  color: var(--color-accent);
}
.file-container {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  border-radius: 8px;
  border: 0.5px solid rgba(30, 32, 111, 0.5);
}
.file-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}
.file-box {
  display: flex;
  padding: 8px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border: 0.5px solid rgba(30, 32, 111, 0.25);
  background: rgba(30, 32, 111, 0.15);
  box-shadow: 0px 0px 25.5px 0px #080d27;
}
.file-icon {
  display: flex;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  gap: 4.465px;
  border-radius: 8px;
  background: rgba(30, 32, 111, 0.56);
  box-shadow: 0px 1.11623px 5.58116px 0px #080d27;
}
.file-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.file-name {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.file-meta {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: var(--color-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  opacity: 0.64;
}
.upload-status-container {
  position: absolute;
  top: 70%;
  left: 25%;
  color: var(--color-accent);
  font-size: 13px;
  display: flex;
  padding: 8px 24px 8px 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}
.upload-progress-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  color: var(--color-white);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.upload-status {
  display: flex;
  padding-left: 50%;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  align-self: stretch;
  color: var(--color-accent);
}
.progress-bar {
  display: flex;
  height: 4px;
  width: 155px;
  flex-direction: column;
  align-items: center;
  border-radius: 2.822px;
  background: var(--secondary, #1e206f);
}
.progress-icon i {
  font-size: 16px;
}
.trash-icon i {
  font-size: 24px;
  color: var(--color-white);
}
.btns {
  position: fixed;
  right: 32px;
  bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-accent);
  width: 64px;
  height: 64px;
  /* padding: 16px; */
  border-radius: 50%;
  border: none;
  /* box-shadow: 0px 2px 24px -8px var(--color-secondary); */
  box-shadow: 0px 3px 4px 0px rgba(8, 13, 39, 0.2) inset,
    0px -3px 4px 0px rgba(0, 0, 0, 0.2) inset;
  z-index: 5;
  /* opacity: 0.7; */
  transition: transform 0.3s ease;
}

.btns.open {
  opacity: 1;
}
.btns:hover {
  cursor: pointer;
  background: #18e6e6;
}
.btns .line {
  width: 24px;
  height: 4px;
  background: var(--color-primary);
  margin: 6px;
  border-radius: 2px;
  transition: 0.5s ease-in;
}
.float_btn .line {
  position: absolute;
}
.float_btn {
  z-index: 6;
}
.float_btn :nth-child(1) {
  transform: rotate(0deg);
}
.float_btn :nth-child(2) {
  transform: rotate(90deg);
}
.float_btn :nth-child(1).open {
  transform: rotate(-45deg);
}
.float_btn :nth-child(2).open {
  transform: rotate(45deg);
}
.quize-text-icon {
  position: relative;
}
.quize-text-icon :nth-child(2) {
  position: absolute;
  font-size: 16px;
  left: 9px;
  top: 4px;
}
.btns i {
  font-size: 28px;
}
.hidden {
  display: none;
}
@media only screen and (width < 600px) {
  .login-group-mob {
    height: 115px;
    align-items: end;
    justify-content: space-between;
    width: 55%;
  }
}
@media only screen and (width < 992px) {
  .pdf-section {
    border-radius: 12px 12px 4px 4px;
  }

  .chat-sec {
    width: 100%;
    /* padding: 8px 0%; */
    /* margin-right: -47vw; */
    margin-bottom: 24px;
    justify-content: center;
  }
  .chatbot-container {
    justify-content: center;
    margin: 24px 0;
    /* margin-right: 1%; */
    align-items: center;
  }
  .chatbot-var-2,
  .chatbot-var-3 {
    width: 90%;
    /* min-width: 420px; */
  }
  .chatbot-var-2,
  .chatbot-var-3,
  .chatbot-var-4 {
    height: 97%;
  }
  .arrow-btn {
    /* display: none; */
  }
  .chatbot-var-2,
  .chatbot-var-3 {
    width: 80vw;
    margin: 24px 0;
  }
  .text-input-container {
    height: 25px;
  }
  .chatbot-var-1 {
    display: none;
  }
  .logo-container img {
    width: 33px;
    height: 44px;
  }
  .logo-name {
    font-size: 25px;
  }
  .arrow-btn {
    display: none;
  }
  .upload-popup .chatbot-var-4 .arrow-btn {
    display: block;
  }
  .profile-menu {
    top: 68px;
    left: 56vw;
    width: 172px;
  }
  .profile-menu-item {
    width: 136px;
  }
  .var2-logo {
    display: none;
  }
  .signup-container-inner {
    padding: 24px 24px;
  }
}

@media only screen and (768px<=width < 992px) {
  .chatbot-var-1.width {
    display: flex;
  }
  .chatbot-var-2,
  .chatbot-var-3 {
    width: 73vw;
  }
  /* .btns {
    display: none;
  } */
}
@media only screen and (width > 992px) {
  .btns {
    display: none;
  }
}
