@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  /* fonts */
  --font-pacifico: Pacifico;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-mini-5: 14px;
  --font-size-base: 16px;
  --font-size-lg: 16px;
  --font-size-Hb: 25px;
  --font-size-Xl: 32px;
  --font-size-XXl-sc: 48px;
  --font-size-XXl-pr: 61px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #080d27;
  --color-secondary: #1e206f;
  --color-accent: #22fbf9;
  font-family: var(--font-roboto);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
header {
  box-shadow: 0px -197px 38px 189px var(--color-secondary);
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
.timer-container {
  display: flex;
  font-size: 16px;
  text-align: start;
  padding: 10px;
  color: var(--color-accent);
  border: none;
  width: 400px;
  margin: 0 auto;
}
.timer-container1 {
  font-size: 16px;
  text-align: center;
  padding: 10px;

  width: 400px;
  margin: 0 auto;
}

.mock-sec,
.upcoming-sec {
  width: 70%;
  margin: 8px 15%;
  margin-top: 24px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--color-white);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  align-self: stretch;
  border-radius: 24px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: var(--primary, #080d27);
  backdrop-filter: blur(12.158369064331055px);
}
.mock-headline,
.upcoming-headline {
  display: flex;
  padding: 0px 11.79px;
  flex-direction: column;
  /* align-items: center; */
  gap: 11.053px;
  align-self: stretch;
  font-weight: 400;
}
.mock-table,
.upcoming-table {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  align-self: stretch;
  border-radius: 7.614px;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.15);
}
.table-header {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 3px;
}
.table-header :nth-child(1) {
  border-radius: 8px 2px 2px 2px;
}
.table-header :last-child {
  border-radius: 2px 8px 2px 2px;
  height: 47px;
}
.col-header {
  display: flex;
  padding: 12px 16px;
  align-items: flex-start;
  gap: 11.5px;
  flex: 1 0 0;
  font-size: 18px;
  border-radius: 2px 8px 2px 2px;
  border: 1px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.98);
}
.table-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8px 3px;
}
.col-content {
  width: 25%;
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--white, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: none;
  border: 0.5px solid var(--secondary, #1e206f);
  background: rgba(30, 32, 111, 0.2);
}
.col-content.first {
  border-radius: 2px 2px 2px 8px;
}
.col-content.last {
  border-radius: 2px 2px 8px 2px;
  justify-content: center;
}
.register-btn {
  font-family: var(--font-roboto);
  /* width: 50%;
  height: 38px; */
  border-radius: 24px;
  font-size: 16px;
  padding: 8px 24px;
  font-weight: 500;
  border: none;
  background: var(--color-accent);
}
.register-btn:hover {
  cursor: pointer;
  background: #1e1f6f8c;
  border: 2px solid var(--color-secondary);
  color: var(--color-white);
  box-shadow: none;
}
input {
  display: block;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
  color: var(--color-accent);
  font-size: 32px;
}
.myH4 {
  color: var(--color-white);
  font-size: 18px;
}
/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* outline: none; */
  height: 5px;
  width: 100%;
  background-color: #dcdcdc;
  border: none;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}
.progress {
  background-color: var(--color-secondary);
}
.progress-step {
  background-color: var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 18px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-primary);
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 14px;
  color: var(--color-white);
}

.progress-step-active {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 11px;
  margin: 4% auto;
  border: 1.5px solid var(--color-secondary);
  border-radius: 24px;
  padding: 24px;
}

.form-step {
  display: none;
  flex-direction: column;
  gap: 24px;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: flex;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 24px;
  color: var(--color-primary);
  font-size: 18px;
  font-style: normal;
  color: var(--color-primary);
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  background: var(--color-accent);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn-next,
.btn-prev {
  min-width: 25%;
  max-width: 30%;
}
.btn:hover {
  background: #1e1f6fb0;
  border: 2px solid var(--color-secondary);
  color: var(--color-white);
}
.expln-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (width < 600px) {
  .form {
    width: 85%;
  }
}
@media only screen and (600px<=width<768px) {
  .form {
    width: 80%;
  }
}
@media only screen and (768px<=width<992px) {
  .form {
    width: 75%;
  }
}
