body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-source-serif-pro: "Source Serif Pro";
  --font-pacifico: Pacifico;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-mini-5: 14.5px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-19xl: 38px;
  --font-size-base-5: 16.5px;
  --font-size-lg-3: 18.3px;
  --font-size-mid-4: 17.4px;
  --font-size-smi-8: 12.8px;
  --font-size-lg: 18px;
  --font-size-35xl: 54px;
  --font-size-6xl: 25px;
  --font-size-9xl: 28px;
  --font-size-6xl-1: 25.1px;
  --font-size-lgi-9: 19.9px;
  --font-size-6xl-3: 25.3px;
  --font-size-6xl-9: 25.9px;
  --font-size-mid-5: 17.5px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-azure: #f1fcff;
  --color-darkslategray-300: #003e45;
  --color-darkslategray-100: #042e41;
  --color-darkslategray-400: #003235;
  --color-darkslategray-500: #042f34;
  --color-darkslategray-200: #012830;
  --color-silver: #c8c8c8;
  --color-gray-500: #8e8e8e;
  --color-gray-100: #848484;
  --color-gray-200: #7e7e7e;
  --color-gray-300: rgba(0, 0, 0, 0.23);
  --color-gray-400: rgba(138, 138, 138, 0.13);
  --color-white: #fff;
  --color-black: #000;
  --color-lightgray: #cdcdcd;
  --color-cadetblue: #2fa4be;
  --color-lightcyan-100: #def9ff;
  --color-lightcyan-200: #cfe9ef;
  --color-aqua: #65fffc;
  --color-midnightblue: #2b042f;
  --color-gainsboro: #d9d9d9;
  --color-darkcyan: rgba(0, 154, 151, 0.1);
  --color-darkorange: #de7800;
  --color-dimgray: #4f4f4f;
  --color-lightskyblue: #50bae7;
  --color-whitesmoke: #eaeaea;
  --color-lavender: #eae6ff;
  --color-darkslateblue: #1c1541;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-sm: 14px;
  --gap-12xs-5: 0.5px;
  --gap-15xl-5: 34.5px;
  --gap-3xs: 10px;
  --gap-13xl: 32px;
  --gap-2xs: 11px;
  --gap-7xs: 6px;
  --gap-10xs-7: 2.7px;
  --gap-xs: 12px;
  --gap-45xl: 64px;
  --gap-base-1: 16.1px;
  --gap-smi-5: 12.5px;
  --gap-19xl: 38px;
  --gap-3xs-4: 9.4px;
  --gap-mini-4: 14.4px;

  /* Paddings */
  --padding-base: 16px;
  --padding-141xl: 160px;
  --padding-106xl: 125px;
  --padding-82xl: 101px;
  --padding-4xs: 9px;
  --padding-15xl-5: 34.5px;
  --padding-mini-5: 14.5px;
  --padding-67xl: 86px;
  --padding-71xl: 90px;
  --padding-5xs: 8px;
  --padding-base-6: 15.6px;
  --padding-sm-3: 13.3px;
  --padding-7xs-4: 5.4px;
  --padding-5xs-3: 7.3px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-smi-5: 12.5px;
  --padding-sm-9: 13.9px;
  --padding-45xl: 64px;
  --padding-3xs: 10px;
  --padding-2xs: 11px;
  --padding-mini-7: 14.7px;

  /* border radiuses */
  --br-base-5: 16.5px;
  --br-mini-5: 14.5px;
  --br-7xl-1: 26.1px;
  --br-22xl-7: 41.7px;
  --br-9xl-7: 28.7px;
  --br-10xs-5: 2.5px;
  --br-lg: 18px;
  --br-2xs: 11px;
  --br-lgi: 19px;
  --br-5xs-7: 7.7px;
  --br-3xs-2: 9.2px;
  --br-13xl-5: 32.5px;
  --br-9xl-6: 28.6px;
  --br-mini-6: 14.6px;
  --br-10xl-4: 29.4px;
  --br-9xs-2: 3.2px;
  --br-26xl-7: 45.7px;
  --br-4xl-2: 23.2px;
  --br-smi: 13px;
  --br-33xl-9: 52.9px;
}
