<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title %}Base{%endblock%}</title>
    <link rel="icon" href="/static/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/home-new.css" />
    <link rel="stylesheet" href="/static/css/book-new.css" />

    <link rel="stylesheet" href="/static/css/loading-style.css" />
    <link rel="stylesheet" href="/static/css/grade-new.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      .sticky-header {
        position: sticky;
        top: 0;
      }
    </style>
    {% block head %} {% endblock %}
  </head>
  <body class="body">
    <header class="sticky-header">
      <div class="logo-container">
        <img src="/static/asset/logo.svg" alt="logo" />
        <h3 class="logo-name">Miilt<span class="oo">oo</span></h3>
      </div>
      <nav class="nav-links">
        <span class="underline" id="underline">
          <img src="/static/asset/nav-link-underline.svg" alt="" />
        </span>
        <a href="/" class="home-link">
          <span class="nav-icons"><i class="fa-solid fa-house"></i></span>
          Home
        </a>
        <a href="" class="home-link"
          ><button class="grade-btn">
            grade
            <span class="grade-btn-icon">
              <i class="fa-solid fa-caret-down"></i>
            </span></button
        ></a>
        <a href="/contest/" class="home-link">competition</a>

        <a href="" class="home-link"
          ><button class="pages-btn">
            pages
            <span class="grade-btn-icon">
              <i class="fa-solid fa-caret-down"></i>
            </span></button
        ></a>
        <a href="" class=""
          ><button class="upload-btn" id="upload-btn1">
            <span class="upload-btn-icon">
              <i class="fa-solid fa-upload"></i>
            </span>
            Upload
          </button></a
        >
      </nav>
      <div class="login-container">
        <a href="/login"><button class="login-btn1">login</button></a>
        <a href="/signup"><button class="signup-btn1">signup</button></a>
      </div>
      <div class="overlay hidden"></div>
      <div class="hamb-menu hidden" id="hamb-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="profile-container hidden">
        <button class="search-btn">
          <span class="search-icon"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
        </button>
        <button class="notify-btn">
          <span class="notify-icon"><i class="fa-solid fa-bell"></i></span>
        </button>
        <div class="profile-group">
          <div class="separet-line"></div>
          <span class="profile-pic">
            <img src="/static/asset/profile-pic.png" alt="" />
          </span>
          <div class="self-desc-container">
            <p class="google_username"></p>
            <p class="google_email"></p>
          </div>
          <span class="profile-drop-icon"
            ><i class="fa-solid fa-chevron-down"></i
          ></span>
        </div>
        <div class="profile-detail"></div>
      </div>
    </header>
    <div class="grade-menu hidden">
      <div class="grade-menu-content">
        <div class="grade-header">
          <span class="grade-tittle-icon"
            ><i class="fa-brands fa-elementor"></i
          ></span>
          <div class="grade-tittle">
            <p>high school</p>
            <p>Initial readiness for advancement.</p>
          </div>
        </div>
        <a href="/#grade" class="grade-menu-item">
          <button class="grade-menu-btn">
            <span class="grade-menu-item-icon"
              ><i class="fa-solid fa-graduation-cap"></i
            ></span>
            grade-9
          </button>
        </a>
        <a href="/#grade" class="grade-menu-item">
          <button class="grade-menu-btn">
            <span class="grade-menu-item-icon"
              ><i class="fa-solid fa-graduation-cap"></i
            ></span>
            grade-10
          </button>
        </a>
        <a href="/#grade" class="grade-menu-item">
          <button class="grade-menu-btn">
            <span class="grade-menu-item-icon"
              ><i class="fa-solid fa-graduation-cap"></i
            ></span>
            grade-11(soon)
          </button>
        </a>
        <a href="/#grade" class="grade-menu-item">
          <button class="grade-menu-btn">
            <span class="grade-menu-item-icon"
              ><i class="fa-solid fa-graduation-cap"></i
            ></span>
            grade-12(soon)
          </button>
        </a>
      </div>
    </div>
    <div class="profile-menu hidden">
      <a href="/account">
        <div class="profile-menu-item">
          <span class="profile-menu-item-icon"
            ><i class="fa-solid fa-id-card-clip"></i
          ></span>
          account
        </div></a
      >
      <div class="profile-menu-item">
        <span class="profile-menu-item-icon"
          ><i class="fa-solid fa-book"></i>
        </span>
        my booklists
      </div>
      <div class="profile-menu-item">
        <span class="profile-menu-item-icon"
          ><i class="fa-solid fa-book"></i
        ></span>
        something
      </div>
      <a href="/logout">
        <div class="profile-menu-item">
          <span class="profile-menu-item-icon"
            ><i class="fa-solid fa-right-from-bracket"></i
          ></span>

          logout
        </div></a
      >
    </div>
    <div class="upload-popup hidden">
      <div class="chatbot-var-4 hidd">
        <button class="arrow-btn close-popup">
          <i class="fa-solid fa-x"></i>
        </button>
        <div class="chat-top-container upload-top-container">
          <div class="var2-logo">
            <img src="/static/asset/logo.svg" alt="" />
            miilt<span>oo</span>
          </div>
          <div class="chat-top-headline">
            <div class="chat-text">
              <span class="chat-text-icon">
                <i class="fa-solid fa-upload"></i>
              </span>
              upload-file
            </div>
          </div>
        </div>
        <!-- the start of drop area -->
        <!--          <div class="drop-area">-->
        <!--            <span class="cloud-icon"><i class="fa-solid fa-cloud-arrow-up"></i>-->
        <!--            </span>-->
        <!--            <div class="drop-area-label">-->
        <!--              Drop your pdf here or ,-->
        <!--&lt;!&ndash;              <span>Browse</span>&ndash;&gt;-->
        <!--                <input type="file" placeholder="Browse">-->
        <!--            </div>-->
        <!--            <div class="sub-label">-->
        <!--              maximum file size 50mb-->
        <!--            </div>-->
        <!--          </div>-->

        <div class="drop-area" id="drop-area">
          <form
            class="drop-area-form my-form"
            action="/upload"
            method="POST"
            enctype="multipart/form-data"
          >
            <span class="cloud-icon"
              ><i class="fa-solid fa-cloud-arrow-up"></i
            ></span>
            <div style="display: flex; gap: 4px">
              <p>Drag and drop a file here, or</p>
              <label for="fileElem" class="browse-button">browse</label>
            </div>

            <span id="fileName" class="sub-label">No file selected</span>
            <input
              type="file"
              id="fileElem"
              name="file"
              class="button"
              accept="application/pdf"
            />

            <button
              class="file-label button"
              id="upload-button"
              style="display: none"
              onclick="uploadForm()"
            >
              <span class="file-label-text">open</span>
            </button>
          </form>
          <div id="gallery"></div>

          <!-- Move the upload button outside the drop area -->
        </div>
        <div class="recent-label">
          <span class="recent-icon">
            <i class="fa-solid fa-newspaper"></i>
          </span>
          recent
        </div>
        <div class="file-container">
          <div class="file-item"></div>
        </div>

        <!-- the end of drop area -->

        <!-- <div class="file-container">
        <div class="file-item">

          <div class="file-box">
            <span class="file-icon">
              <i class="fa-solid fa-file"></i>
            </span>
            <div class="file-desc">
              <span class="file-name">file name</span>
              <span class="file-meta">
                file type *
                 <span class="file-size"></span>
                 2mb
              </span>
            </div>
            <div class="upload-status-container">
              <div class="upload-progress-container hidden">
                 <div class="progress-bar"></div>
                 <div class="progress-percent">50%</div>
                 <span class="progress-icon"><i class="fa-solid fa-xmark"></i></span>
              </div>
              <div class="upload-status">
              <div class="uploading hidden">
                <span class="upload-status-icon hidden">
                  <i class="fa-solid fa-thermometer"></i>
                </span>
                uploading...
              </div>
                <div class="uploaded-label">
                uploaded
                <span class="upload-status-icon">
                  <i class="fa-solid fa-circle-check"></i>
                </span>

                </div>
              </div>
              <div class="trash-icon">
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      </div>
    </div>
    <div class="overlay hidden"></div>
    {% block body %} {% endblock %} {%block footer%}
    <footer>
      <div class="footer-content">
        <div class="footer-logo">
          <img src="/static/asset/logo.svg" alt="" />
          <div>miilt<span class="oo">oo</span></div>
        </div>
        <div class="footer-link-container">
          <div class="link-container">
            Home
            <a href="" class="link">grade</a>
            <a href="" class="link">subject</a>
            <a href="" class="link">chatbot</a>
          </div>
          <div class="link-container">
            resource
            <a href="" class="link">textbook</a>
            <a href="" class="link">study guid</a>
            <a href="" class="link">upload</a>
          </div>
          <div class="link-container">
            grade
            <a href="" class="link">grade-9</a>
            <a href="" class="link">grade-10</a>
            <a href="" class="link">grade-11</a>
            <a href="" class="link">grade-12</a>
          </div>
          <div class="link-container">
            pages
            <a href="" class="link">About us</a>
            <a href="" class="link">contact us</a>
            <a href="" class="link">FAQ</a>
            <a href="" class="link">help</a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <a class="social-icons"><i class="fa-brands fa-square-twitter"></i></a>
        <a class="social-icons"><i class="fa-brands fa-facebook"></i></a>
        <a class="social-icons"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-icons"><i class="fa-brands fa-github"></i></a>
        <a class="social-icons"><i class="fa-brands fa-telegram"></i></a>
      </div>
    </footer>
    {%endblock%}
    <script src="/static/js/header.js"></script>
    <script>
      const resrc_btns = document.querySelectorAll(".resrc-btns button");
      const grade_btns = document.querySelectorAll(".grade-menu-btn");

      for (let i = 0; i < grade_btns.length; i++) {
        grade_btns[i].addEventListener("click", function () {
          for (let i = 0; i < resrc_btns.length; i++) {
            resrc_btns[i].classList.replace("active-btn", "other-btns");
            console.log("worked");
          }
          resrc_btns[i + 1].classList.replace("other-btns", "active-btn");
        });
      }
      for (let i = 0; i < resrc_btns.length; i++) {
        resrc_btns[i].addEventListener("click", () => {
          for (let i = 0; i < resrc_btns.length; i++) {
            resrc_btns[i].classList.replace("active-btn", "other-btns");
          }
          resrc_btns[i].classList.replace("other-btns", "active-btn");
        });
      }
    </script>
    <script src="/static/js/upload.js"></script>
    <script>
      var login_and_signup = document.querySelector(".login-container");
      var profile = document.querySelector(".profile-container");
      var username = document.querySelector(".google_username");
      var email = document.querySelector(".google_email");
      let loggedIn = "{{ session['logged_in'] }}";

      // Now you can use the 'loggedIn' JavaScript variable to manipulate information.
      if (loggedIn == "true") {
        login_and_signup.classList.add("hidden");

        username.innerHTML = "{{ session['google_name'] }}";
        email.innerHTML = "{{ session['google_email'] }}";
        profile.classList.remove("hidden");
        console.log("logged in");
      } else {
        login_and_signup.classList.remove("hidden");
        profile.classList.add("hidden");
      }
    </script>
  </body>
</html>
