{% extends "base.html" %}



 {% block head %}
 <link rel="stylesheet" href="/static/css/book-new.css" />
    <style>
      :root {
    --primary-color: rgb(11, 78, 179);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    
  
  }

  .width-50 {
    width: 50%;
  }

  .ml-auto {
    margin-left: auto;
  }

  .text-center {
    text-align: center;
  }

  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }

  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }

  .progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
  }

  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }

  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }

  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  /* Form */
  .form {
    width: auto;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
  }

  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }

  .form-step-active {
    display: block;
  }

  .input-group {
    margin: 2rem 0;
  }

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
  }
    </style>
  {% endblock %}
  {%block body%}
    <form action="#" class="form">
      <h1 class="text-center">Contest</h1>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div
          class="progress-step progress-step-active"
          data-title="Bio"
        ></div>
        <div class="progress-step" data-title="Hist"></div>
        <div class="progress-step" data-title="Chem"></div>
        <div class="progress-step" data-title="Geo"></div>
        <div class="progress-step" data-title="result"></div>
      </div>

      <!-- Steps -->
      <div class="form-step form-step-active">
        
       <div   id="biology-quiz-form">
        <div  id="biology-quiz-container"></div>
        
        <div  id="biology-results" style="display: none;"></div>
        <button type="button" class="btn" id="biology-submit-button">Submit Answers</button>
       </div>
       
        
        <div class="">
          <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
        </div>
      </div>


      <div class="form-step">
        
<h4>History</h4>

<div id="history-quiz-form">
  <div id="history-quiz-container"></div>
  
  <div id="history-results" style="display: none;"></div>
  <button type="button" class="btn" id="history-submit-button">Submit Answers</button>
</div>
<h4>History</h>
        
 
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <a href="#" class="btn btn-next">Next</a>
        </div>
      </div>
      <div class="form-step">
        <h4>Chemistry</h4>

<div id="chemistry-quiz-form">
  <div id="chemistry-quiz-container"></div>
  
  <div id="chemistry-results" style="display: none;"></div>
  <button type="button" class="btn" id="chemistry-submit-button">Submit Answers</button>
</div>
<h4>Chemistry</h>

        <div class="btns-group">
          <a href="#"  class="btn btn-prev">Previous</a>
          <a href="#" style="display: none;" class="btn btn-prev">Submit</a>
          <a href="#"  class="btn btn-next">Next</a>
        </div>
      </div>
      <div class="form-step">
        <div class="input-group">
          <h4>Geography</h4>

          <div id="geography-quiz-form">
            <div id="geography-quiz-container"></div>
            
            <div id="geography-results" style="display: none;"></div>
            <button type="button" class="btn" id="geography-submit-button">Submit Answers</button>
          </div>
          <h4>Geography</h>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <a href="#" id="save-result" class="btn btn-next">Result</a>
        </div>
      </div>
      <div class="form-step">

       <h1>trasdftgyuiosdfnm,./</h1>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          
        </div>
      </div>
    </form>
    <script>
        // Changing subjects
        const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");

let formStepsNum = 0;

nextBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum++;
    updateFormSteps();
    updateProgressbar();
  });
});

prevBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum--;
    updateFormSteps();
    updateProgressbar();
  });
});

function updateFormSteps() {
  formSteps.forEach((formStep) => {
    formStep.classList.contains("form-step-active") &&
      formStep.classList.remove("form-step-active");
  });

  formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
  progressSteps.forEach((progressStep, idx) => {
    if (idx < formStepsNum + 1) {
      progressStep.classList.add("progress-step-active");
    } else {
      progressStep.classList.remove("progress-step-active");
    }
  });

  const progressActive = document.querySelectorAll(".progress-step-active");

  progress.style.width =
    ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
// changin subjects end here

    </script>
    <script src="/static/js/contest.js"></script>

{%endblock%}