{%extends "base.html"%}
{%block title%}Explore{%endblock%}
{%block body%}
<section class="resource-sec">
    <div class="resrc-headline">
      resource
      <span class="resrc-line"></span>
    </div>
    <div class="resrc-btns">
      <button class="active-btn">All</button>
      <button class="other-btns">Study guide</button>
      <button class="other-btns">textbook</button>
      <button class="other-btns">test</button>
    </div>
    <div class="resrc-nav-container">
      <button class="left-btn">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="right-btn">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <div class="resrc-slider">
      <div class="resrc-container" id="resrc-container">
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-1
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-2
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>

          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-3
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-4
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-5
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>

          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-6
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-7
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-8
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
        <div class="resrc-box">
          <div class="resrc-cover-container">
            <img
              src="/static/asset/bio-g10-cover.svg"
              class="resrc-cover-item"
            />
            <div class="resrc-cover-overlay">
              grade-10
              <span class="resrc-cover-overlay-icon">
                <i class="fa-solid fa-book-open-reader"></i>
              </span>
            </div>
          </div>
          <div class="resrc-tittle-container">
            <span class="resrc-tittle-icon"
              ><i class="fa-solid fa-book"></i
            ></span>
            Biology-9
          </div>
          <div class="resrc-desc-container">
            <div class="resrc-desc-tittle">
              <span class="resc-desc-tittle-icon"
                ><i class="fa-solid fa-feather"></i
              ></span>
              description
            </div>
            <div class="resrc-desc-content">
              <p class="resrc-desc-text">
                ensures that students have access to comprehensive learning
                materials that support their academic progress.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resrc-slider-indicator">
      <span class="dots active"></span>
      <span class="dots"></span>
      <span class="dots"></span>
    </div>
  </section>
  {%endblock%}