<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/frammodify-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <div class="frammodify-1">
      <section class="hero-section" id="hero">
        <div class="wave">
          <img class="hero-wave-icon" alt="" src="./public/herowave.svg" />

          <img class="wave-child" alt="" src="./public/group-121.svg" />

          <img class="wave-item" alt="" src="./public/group-122.svg" />
        </div>
        <div class="hero">
          <img class="hero-child" alt="" src="./public/rectangle-1@2x.png" />

          <header class="header1" id="header">
            <div class="miiltoo-group">
              <div class="miiltoo2">Miiltoo</div>
              <img
                class="untitled-13x-1-icon3"
                alt=""
                src="./public/logo@2x.png"
              />
            </div>
            <nav class="home-group">
              <div class="wade-warren"><a href="">Home</a></div>
              <div class="wade-warren"><a href="grade.html">Grade</a></div>
              <div class="wade-warren"><a href="">Quize</a></div>
              <div class="wade-warren"><a href="">pages</a></div>
            </nav>
            <div class="login-group">
              <div class="login1">login</div>
              <button class="signup-container" autofocus id="btn-signup">
                <div class="signup1">Signup</div>
              </button>
            </div>
          </header>
          <div class="frame-parent16">
            <div class="frame-parent17">
              <div class="bg-group">
                <img class="bg-icon2" alt="" src="./public/bg2.svg" />

                <div class="headline1">headline</div>
                <div class="lorem-ipsum-dolor-container5">
                  <p class="lorem-ipsum-dolor7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore m dolore eu fugiat
                    nulla pariatu
                  </p>
                  <p class="lorem-ipsum-dolor7">
                    Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id es
                  </p>
                </div>
              </div>
              <div class="frame-wrapper">
                <button class="frame-button" autofocus>
                  <div class="explore-now4">Explore now</div>
                </button>
              </div>
            </div>
            <img
              class="untitled-13x-1-icon4"
              alt=""
              src="./public/untitled13x-12@2x.png"
            />
          </div>
        </div>
      </section>
      <img class="frammodify-1-child" alt="" src="./public/rectangle-81.svg" />

      <img class="frammodify-1-item" alt="" src="./public/rectangle-91.svg" />

      <section class="frame-parent18" id="feature">
        <div class="features-group">
          <h1 class="features1">features</h1>
          <img class="frame-child5" alt="" src="./public/line-14.svg" />
        </div>
        <div class="frame-parent19">
          <div class="rectangle-parent1">
            <div class="frame-child6"></div>
            <h2 class="personalized-learning1">personalized learning</h2>
            <div class="this-feature-ensures1">
              This feature ensures that students receive tailored support and
              resources that align with their individual learning needs.
            </div>
          </div>
          <div class="rectangle-parent1">
            <div class="frame-child6"></div>
            <h2 class="personalized-learning1">interactive conversation</h2>
            <div class="promotes-active-learning1">
              promotes active learning and encourages students to actively
              participate in their educational journey.
            </div>
          </div>
          <div class="rectangle-parent1">
            <div class="frame-child6"></div>
            <h2 class="personalized-learning1">comprehensive Resource</h2>
            <div class="ensures-that-students1">
              ensures that students have access to comprehensive learning
              materials that support their academic progress.
            </div>
          </div>
        </div>
      </section>
      <section class="frammodify-1-inner"></section>
      <section class="resource2">
        <div class="resource-group">
          <h1 class="resource3">resource</h1>
          <img class="frame-child5" alt="" src="./public/line-111.svg" />
        </div>
        <div class="frame-parent20">
          <button class="all-container">
            <div class="all1">All</div>
          </button>
          <button class="study-guide-container">
            <div class="study-guide2">study guide</div>
          </button>
          <button class="study-guide-container">
            <div class="study-guide2">Textbook</div>
          </button>
          <button class="study-guide-container" autofocus>
            <div class="study-guide2">test</div>
          </button>
        </div>
        <div class="frame-parent21">
          <div class="vector-container">
            <img class="frame-child10" alt="" src="./public/rectangle-43.svg" />

            <div class="group-parent1">
              <img class="frame-child11" alt="" src="./public/group-1296.svg" />

              <h3 class="history3">history</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                Lorem ipsum dolor sit amet, conse Excepteur sint occaecat
              </div>
            </div>
            <img
              class="screenshot-86-23"
              alt=""
              src="./public/screenshot-86-23@2x.png"
            />

            <div class="frame-child12"></div>
            <div class="screenshot-86-1-parent">
              <img
                class="screenshot-86-13"
                alt=""
                src="./public/screenshot-86-13@2x.png"
              />

              <img
                class="frame-child13"
                alt=""
                src="./public/rectangle-153.svg"
              />

              <h2 class="grade-94">Grade-9</h2>
            </div>
            <img class="frame-child14" alt="" src="./public/group-12911.svg" />
          </div>
          <div class="vector-container">
            <img class="frame-child10" alt="" src="./public/rectangle-43.svg" />

            <div class="group-parent1">
              <img
                class="frame-child11"
                alt=""
                src="./public/group-12921.svg"
              />

              <h3 class="history3">history</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                Lorem ipsum dolor sit amet, conse Excepteur sint occaecat
              </div>
            </div>
            <img
              class="screenshot-86-23"
              alt=""
              src="./public/screenshot-86-23@2x.png"
            />

            <div class="frame-child12"></div>
            <div class="screenshot-86-1-parent">
              <img
                class="screenshot-86-13"
                alt=""
                src="./public/screenshot-86-13@2x.png"
              />

              <img
                class="frame-child13"
                alt=""
                src="./public/rectangle-153.svg"
              />

              <h2 class="grade-94">Grade-9</h2>
            </div>
            <img class="frame-child14" alt="" src="./public/group-12931.svg" />
          </div>
          <div class="vector-container">
            <img class="frame-child10" alt="" src="./public/rectangle-43.svg" />

            <div class="group-parent1">
              <img class="frame-child11" alt="" src="./public/group-1296.svg" />

              <h3 class="history3">history</h3>
              <div class="view-more-wrapper3">
                <div class="wade-warren">view more</div>
              </div>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                Lorem ipsum dolor sit amet, conse Excepteur sint occaecat
              </div>
            </div>
            <img
              class="screenshot-86-23"
              alt=""
              src="./public/screenshot-86-23@2x.png"
            />

            <div class="frame-child12"></div>
            <div class="screenshot-86-1-parent">
              <img
                class="screenshot-86-13"
                alt=""
                src="./public/screenshot-86-13@2x.png"
              />

              <img
                class="frame-child13"
                alt=""
                src="./public/rectangle-153.svg"
              />

              <h2 class="grade-94">Grade-9</h2>
            </div>
            <img class="frame-child14" alt="" src="./public/group-12931.svg" />
          </div>
          <div class="vector-container">
            <img
              class="frame-child10"
              alt=""
              src="./public/rectangle-411.svg"
            />

            <div class="group-parent1">
              <img
                class="frame-child11"
                alt=""
                src="./public/group-12941.svg"
              />

              <h3 class="history3">history</h3>
              <div class="view-more-wrapper3">
                <div class="wade-warren">view more</div>
              </div>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                Lorem ipsum dolor sit amet, conse Excepteur sint occaecat
              </div>
            </div>
            <img
              class="screenshot-86-23"
              alt=""
              src="./public/screenshot-86-23@2x.png"
            />

            <div class="frame-child12"></div>
            <div class="screenshot-86-1-parent">
              <img
                class="screenshot-86-13"
                alt=""
                src="./public/screenshot-86-13@2x.png"
              />

              <img
                class="frame-child13"
                alt=""
                src="./public/rectangle-153.svg"
              />

              <h2 class="grade-94">Grade-9</h2>
            </div>
            <img class="frame-child29" alt="" src="./public/group-12951.svg" />
          </div>
        </div>
        <img
          class="slide-indicator-icon1"
          alt=""
          src="./public/slideindicator1.svg"
        />
      </section>
      <section class="frame-parent22">
        <div class="frame-parent23">
          <div class="rectangle-parent4">
            <div class="frame-child30"></div>
            <div class="frame-child31"></div>
            <div class="frame-child32"></div>
            <img
              class="frame-child33"
              alt=""
              src="./public/rectangle-61@2x.png"
            />
          </div>
          <img
            class="photo-2023-08-22-03-54-20-1-icon1"
            alt=""
            src="./public/photo-20230822-035420-11@2x.png"
          />
        </div>
        <div class="frame-parent24">
          <div class="bg-container">
            <img class="bg-icon3" alt="" src="./public/bg11.svg" />

            <h1 class="headline-21">headline-2</h1>
            <div class="lorem-ipsum-dolor12">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore m dolore eu fugiat nulla
              pariatu Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id es
            </div>
          </div>
          <div class="frame-parent25">
            <div class="search-resource-here-container">
              <div class="search-resource-here1">search resource here ..</div>
            </div>
            <button class="search-container">
              <div class="search1">search</div>
            </button>
          </div>
        </div>
      </section>
      <section class="rectangle-section"></section>
      <section class="frame-parent26">
        <div class="testimony-group">
          <h1 class="resource3">testimony</h1>
          <img class="frame-child34" alt="" src="./public/line-121.svg" />
        </div>
        <div class="frame-parent27">
          <div class="frame-parent28">
            <div class="union-parent1">
              <div class="union3">
                <div class="union-child5"></div>
                <div class="union-inner3">
                  <div class="explore-now-wrapper2">
                    <div class="explore-now5">Explore now</div>
                  </div>
                </div>
                <img
                  class="union-child6"
                  alt=""
                  src="./public/rectangle-2.svg"
                />
              </div>
              <div class="lorem-ipsum-dolor-sit-amet-co-parent1">
                <div class="lorem-ipsum-dolor-container6">
                  <p class="lorem-ipsum-dolor7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore m dolore eu fugiat
                    nulla pariatu
                  </p>
                  <p class="lorem-ipsum-dolor7">
                    Excepteur sint occaecat cupidatat non proid deserunt mollit
                    anim id es
                  </p>
                </div>
                <div class="reviews-parent1">
                  <div class="wade-warren">reviews</div>
                  <div class="frame-parent29">
                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame13.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame14.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame21.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame31.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame41.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="vector-parent4">
              <img
                class="frame-child35"
                alt=""
                src="./public/rectangle-421@2x.png"
              />

              <div class="wade-warren-wrapper">
                <div class="wade-warren">Wade Warren</div>
              </div>
              <div class="profession-wrapper1">
                <div class="wade-warren">profession :</div>
              </div>
            </div>
          </div>
          <div class="frame-parent28">
            <div class="union-parent1">
              <div class="union3">
                <div class="union-child5"></div>
                <div class="union-inner3">
                  <div class="explore-now-wrapper2">
                    <div class="explore-now5">Explore now</div>
                  </div>
                </div>
                <img
                  class="union-child6"
                  alt=""
                  src="./public/rectangle-2.svg"
                />
              </div>
              <div class="lorem-ipsum-dolor-sit-amet-co-parent2">
                <div class="lorem-ipsum-dolor-container6">
                  <p class="lorem-ipsum-dolor7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore m dolore eu fugiat
                    nulla pariatu
                  </p>
                  <p class="lorem-ipsum-dolor7">
                    Excepteur sint occaecat cupidatat non proid deserunt mollit
                    anim id es
                  </p>
                </div>
                <div class="reviews-parent2">
                  <div class="wade-warren">reviews</div>
                  <div class="frame-parent29">
                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame51.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame61.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame71.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame81.svg"
                    />

                    <img
                      class="frame-icon18"
                      alt=""
                      src="./public/frame91.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="vector-parent4">
              <img
                class="frame-child35"
                alt=""
                src="./public/rectangle-431@2x.png"
              />

              <div class="wade-warren-wrapper">
                <div class="wade-warren">Esther Howard</div>
              </div>
              <div class="profession-wrapper1">
                <div class="wade-warren">profession :</div>
              </div>
            </div>
          </div>
          <div class="frame-parent28">
            <div class="union-parent1">
              <div class="union3">
                <div class="union-child5"></div>
                <div class="union-inner3">
                  <div class="explore-now-wrapper2">
                    <div class="explore-now5">Explore now</div>
                  </div>
                </div>
                <img
                  class="union-child6"
                  alt=""
                  src="./public/rectangle-2.svg"
                />
              </div>
              <div class="lorem-ipsum-dolor-sit-amet-co-parent1">
                <div class="lorem-ipsum-dolor-container6">
                  <p class="lorem-ipsum-dolor7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore m dolore eu fugiat
                    nulla pariatu
                  </p>
                  <p class="lorem-ipsum-dolor7">
                    Excepteur sint occaecat cupidatat non proid deserunt mollit
                    anim id es
                  </p>
                </div>
                <div class="frame6">
                  <div class="reviews-parent3">
                    <div class="wade-warren">reviews</div>
                    <div class="frame-parent29">
                      <img
                        class="frame-icon18"
                        alt=""
                        src="./public/frame13.svg"
                      />

                      <img
                        class="frame-icon18"
                        alt=""
                        src="./public/frame14.svg"
                      />

                      <img
                        class="frame-icon18"
                        alt=""
                        src="./public/frame21.svg"
                      />

                      <img
                        class="frame-icon18"
                        alt=""
                        src="./public/frame31.svg"
                      />

                      <img
                        class="frame-icon18"
                        alt=""
                        src="./public/frame101.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="vector-parent4">
              <img
                class="frame-child35"
                alt=""
                src="./public/rectangle-44@2x.png"
              />

              <div class="wade-warren-wrapper">
                <div class="wade-warren">Ralph Edwards</div>
              </div>
              <div class="profession-wrapper1">
                <div class="wade-warren">profession :</div>
              </div>
            </div>
          </div>
        </div>
        <img
          class="slide-indicator-icon2"
          alt=""
          src="./public/slideindicator11.svg"
        />
      </section>
      <section class="frame-parent34">
        <div class="contact-us-group">
          <h1 class="resource3">contact us</h1>
          <img class="frame-child34" alt="" src="./public/line-131.svg" />
        </div>
        <div class="frame-child39"></div>
      </section>
      <section class="footer1">
        <div class="top1">
          <div class="untitled-13x-1-container">
            <img
              class="untitled-13x-1-icon5"
              alt=""
              src="./public/untitled13x-111@2x.png"
            />

            <div class="miiltoo3">Miiltoo</div>
          </div>
          <div class="home-container">
            <div class="wade-warren">home</div>
            <div class="wade-warren">resource</div>
            <div class="grade-container">
              <div class="wade-warren">Grade</div>
            </div>
            <div class="pages-container">
              <div class="wade-warren">pages</div>
            </div>
            <div class="social-media-container">
              <div class="wade-warren">social media</div>
            </div>
          </div>
        </div>
        <div class="footer-child">
          <div class="frame-parent35">
            <div class="grade-group">
              <div class="wade-warren">Grade</div>
              <div class="wade-warren">Subject</div>
              <div class="wade-warren">Chatbot</div>
            </div>
            <div class="grade-group">
              <div class="wade-warren">textbook</div>
              <div class="wade-warren">study guide</div>
              <div class="wade-warren">Quize</div>
              <div class="wade-warren">Test</div>
            </div>
            <div class="grade-9-group">
              <div class="wade-warren">Grade-9</div>
              <div class="grade-102">
                <p class="lorem-ipsum-dolor7">grade-10</p>
              </div>
              <div class="wade-warren">grade-11</div>
              <div class="wade-warren">grade-12</div>
            </div>
            <div class="grade-9-group">
              <div class="wade-warren">About us</div>
              <div class="contact2">
                <p class="lorem-ipsum-dolor7">Contact</p>
              </div>
              <div class="wade-warren">FAQ</div>
              <div class="wade-warren">Privacy policy</div>
              <div class="wade-warren">Help</div>
            </div>
            <div class="grade-group">
              <div class="wade-warren">Twitter</div>
              <div class="wade-warren">linkedIn</div>
              <div class="wade-warren">Facebook</div>
              <div class="wade-warren">Telegram</div>
            </div>
          </div>
        </div>
        <footer class="frame-footer">
          <img
            class="untitled-13x-1-icon5"
            alt=""
            src="./public/untitled13x-121@2x.png"
          />

          <div class="footer-text1">
            © 2023 Miiltoo ai-based chatbot. All rights reserved.
          </div>
        </footer>
      </section>
      <div class="frammodify-1-child1"></div>
      <img class="ellipse-icon" alt="" src="./public/ellipse-4.svg" />

      <img class="frammodify-1-child2" alt="" src="./public/ellipse-6.svg" />
    </div>
  </body>
</html>
