{%extends "base.html"%} {%block title%}Grade{%endblock%} {%block head%}
<link rel="stylesheet" href="../static/css/global.css" />

<link rel="stylesheet" href="../static/css/global-grade.css" />
<link rel="stylesheet" href="../static/css/grade.css" />
<link rel="stylesheet" href="../static/css/grade-new.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@600&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
/>
{%endblock%} {%block body%}
<main>
  <section class="grade-desc-sec">
    <div class="resrc-headline">
      Grade-9
      <span class="resrc-line"></span>
    </div>
    <div class="left-desc"></div>
    div.
  </section>
  <section class="resource-sec">
    <div class="resrc-headline">
      resources
      <span class="resrc-line"></span>
    </div>
    <div class="resrc-btns">
      <button class="active-btn">All</button>
      <button class="other-btns">Study guide</button>
      <button class="other-btns">textbook</button>
      <button class="other-btns">test</button>
    </div>
    <div class="resrc-nav-container">
      <button class="left-btn">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="right-btn">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <div class="resrc-slider">
      <div class="resrc-container" id="resrc-container">
        <div class="resrc-item">
          <a
            href="/grade/?book=bk/Biology Student Textbook Grade 9.pdf"
            class="resrc-box"
          >
            <div class="resrc-cover-container">
              <img
                src="/static/asset/bio-g10-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              Biology
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </a>
          <div class="resrc-box">
            <div class="resrc-cover-container" style="background: #1aa751">
              <img
                src="/static/asset/hist-g9-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              history
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
          <div class="resrc-box">
            <div class="resrc-cover-container" style="background: #1aa751">
              <img
                src="/static/asset/citiz-g9-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              chemistry
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="resrc-item">
          <div class="resrc-box">
            <div class="resrc-cover-container">
              <img
                src="/static/asset/soon-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              citizenship
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
          <div class="resrc-box">
            <div class="resrc-cover-container">
              <img
                src="/static/asset/soon-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              physics
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
          <div class="resrc-box">
            <div class="resrc-cover-container">
              <img
                src="/static/asset/soon-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-10
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>

            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              Biology-6
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="resrc-item">
          <div class="resrc-box">
            <div class="resrc-cover-container">
              <img
                src="/static/asset/soon-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              geography
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
          <div class="resrc-box">
            <div class="resrc-cover-container">
              <img
                src="/static/asset/soon-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>
            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              mathmatics
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
          <div class="resrc-box">
            <div class="resrc-cover-container">
              <img
                src="/static/asset/soon-cover.svg"
                class="resrc-cover-item"
              />
              <div class="resrc-cover-overlay">
                grade-9
                <span class="resrc-cover-overlay-icon">
                  <i class="fa-solid fa-book-open-reader"></i>
                </span>
              </div>
            </div>

            <div class="resrc-tittle-container">
              <span class="resrc-tittle-icon"
                ><i class="fa-solid fa-book"></i
              ></span>
              civic
            </div>
            <div class="resrc-desc-container">
              <div class="resrc-desc-tittle">
                <span class="resc-desc-tittle-icon"
                  ><i class="fa-solid fa-feather"></i
                ></span>
                description
              </div>
              <div class="resrc-desc-content">
                <p class="resrc-desc-text">
                  ensures that students have access to comprehensive learning
                  materials that support their academic progress.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resrc-slider-indicator">
      <span class="dots active"></span>
      <span class="dots"></span>
      <span class="dots"></span>
    </div>
  </section>
</main>
<!-- <main class="grade">
      <img class="grade-child" alt="" src="../static/public/rectangle-1@2x.png" />

      <img class="grade-item" alt="" src="../static/public/rectangle-17@2x.png" />

      <main class="content">
        <section class="book-box-parent">
          
          <div class="book-box bio-g9">
            <div class="boo-cover">
              <div class="book-photo">
                <a href="/grade/?book=bk/Biology Student Textbook Grade 9.pdf" class="history-book">
                <div class="book-cover bio-g9-cover"></div>
                <div class="grade-overlay">
                  <img
                    class="grade-overlay-child"
                    alt=""
                    src="../static/public/rectangle-15.svg"
                  />

                  <div class="grade-9-wrapper">
                    <h2 class="history">Grade-9</h2>
                  </div>
                  <img
                    class="grade-overlay-item"
                    alt=""
                    src="../static/public/group-129.svg"
                  />
                </div>
                
              </div>
            </a>
            </div>
            <div class="title">
              <img class="title-child" alt="" src="../static/public/group-1291.svg" />

              <div class="history-wrapper">
                <h3 class="history">biology</h3>
              </div>
              <button class="view-more-wrapper">
                <div class="view-more">view more</div>
              </button>
            </div>
            <div class="description">
              <div class="description1">Description</div>
              <div class="lorem-ipsum-dolor">
                it covers fundamental biological concepts and topics, introducing students ...
              </div>
            </div>
          </div>
          <div class="book-box hist-g9">
            <div class="boo-cover">
              <div class="book-photo">
                <a href="/grade/?book=bk/History student textbook grade 9.pdf" class="history-book">
                <div class="book-cover hist-g9-cover"></div>
                <div class="grade-overlay">
                  <img
                    class="grade-overlay-child"
                    alt=""
                    src="../static/public/rectangle-15.svg"
                  />

                  <div class="grade-9-wrapper">
                    <h2 class="history">Grade-9</h2>
                  </div>
                  <img
                    class="grade-overlay-item"
                    alt=""
                    src="../static/public/group-129.svg"
                  />
                </div>
                
              </div>
            </a>
            </div>
            <div class="title">
              <img class="title-child" alt="" src="../static/public/group-1291.svg" />

              <div class="history-wrapper">
                <h3 class="history">history</h3>
              </div>
              <button class="view-more-wrapper">
                <div class="view-more">view more</div>
              </button>
            </div>
            <div class="description">
              <div class="description1">Description</div>
              <div class="lorem-ipsum-dolor">
                provides a comprehensive overview of the country's rich historical heritage and events.
              </div>
            </div>
          </div>
          <div class="book-box hist-g9">
            <div class="boo-cover">
              <div class="book-photo">
                <a href="/templates/hist-g9.html" class="history-book">
                <div class="book-cover hist-g9-cover"></div>
                <div class="grade-overlay">
                  <img
                    class="grade-overlay-child"
                    alt=""
                    src="../static/public/rectangle-15.svg"
                  />

                  <div class="grade-9-wrapper">
                    <h2 class="history">Grade-9</h2>
                  </div>
                  <img
                    class="grade-overlay-item"
                    alt=""
                    src="../static/public/group-129.svg"
                  />
                </div>
                
              </div>
            </a>
            </div>
            <div class="title">
              <img class="title-child" alt="" src="../static/public/group-1291.svg" />

              <div class="history-wrapper">
                <h3 class="history">history</h3>
              </div>
              <button class="view-more-wrapper">
                <div class="view-more">view more</div>
              </button>
            </div>
            <div class="description">
              <div class="description1">Description</div>
              <div class="lorem-ipsum-dolor">
                provides a comprehensive overview of the country's rich historical heritage and events.
              </div>
            </div>
          </div>
         
          
        </section>
        <div class="frame-210 slide-indicator-g9">
          <div class="slide-indicator">
            <div class="ellipse-2"></div>
            <div class="rectangle-16"></div>
            <div class="ellipse-3"></div>
            <div class="ellipse-4"></div>
          </div>
        </div>
        <section class="frame-parent">
          <div class="recommendation-parent">
            <h1 class="recommendation">recommendation</h1>
            <img class="frame-child" alt="" src="../static/public/line-1.svg" />
          </div>
          <div class="frame-group">
            <div class="frame-container">
              <button class="all-wrapper">
                <div class="all">All</div>
              </button>
              <button class="study-guide-wrapper">
                <div class="study-guide">study guide</div>
              </button>
              <button class="study-guide-wrapper">
                <div class="study-guide">Textbook</div>
              </button>
              <button class="study-guide-wrapper">
                <div class="study-guide">test</div>
              </button>
            </div>
            <div class="frame-wrapper">
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />
                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />

                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />

                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />

                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
            </div>
           
            <img
              class="slide-indicator-icon"
              alt=""
              src="../static/public/slideindicator.svg"
            />
          </div>
        </section>
        <section class="frame-section">
          <div class="boo-cover">
            <div class="study-tips-parent">
              <h1 class="study-tips">Study tips</h1>
              <img class="line-icon" alt="" src="../static/public/line-11.svg" />
            </div>
          </div>
          <div class="frame-child3"></div>
        </section>
      </main>
     
    </main> -->
<script src="/static/js/slider-new.js"></script>

<script>
  var homeText1 = document.getElementById("homeText1");
  if (homeText1) {
    homeText1.addEventListener("click", function (e) {
      // Please sync "home" to the project
    });
  }
</script>

{%endblock%}
