<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/global-grade.css" />
    <link rel="stylesheet" href="../static/css/grade.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
  </head>
  <body>
    <header>

      <div class="top-menu">
        <div class="header-parent">
          <div class="header">
            <div class="header-child"></div>
            <div class="miiltoo-parent">
              <div class="miiltoo1">Miiltoo</div>
              <img
                class="untitled-13x-1-icon2"
                alt=""
                src="../static/public/untitled13x-12@2x.png"
              />
            </div>
            <nav class="home-group">
              <a href="/index/"><div class="wade-warren">Home</div></a>
              <div class="dropdown">
                <button class="wade-warren dropbtn">Grade</button>
                <div class="dropdown-content">
                  <a href="/grade/">Grade-9</a>
                  <a href="#">Grade-10(soon)</a>
                  <a href="#">Grade-11(soon)</a>
                  <a href="#">Grade-12(soon)</a>
                </div>
              </div>
              <a href="/quize/"><div class="wade-warren"></div></a>
              <a href=""><div class="wade-warren"></div></a>
            </nav>
            <div class="login-parent">
              <div class="login">login</div>
              <div class="signup-wrapper">
                <div class="signup">Signup</div>
              </div>
            </div>
          </div>
          <div class="search-bar">
            <div class="group-container">
              <img class="frame-child4" alt="" src="../static/public/group-131.svg" />

              <div class="textbook-container">
                <h2 class="history">Textbook/</h2>
              </div>
              <div class="grade-9-wrapper2">
                <h3 class="grade-96">grade-9</h3>
              </div>
            </div>
            <img class="search-bar-child" alt="" src="../static/public/frame-188.svg" />
          </div>
        </div>
      </div>

    </header>
    <main class="grade">
      <img class="grade-child" alt="" src="../static/public/rectangle-1@2x.png" />

      <img class="grade-item" alt="" src="../static/public/rectangle-17@2x.png" />

      <main class="content">
        <section class="book-box-parent">
          
          <div class="book-box bio-g9">
            <div class="boo-cover">
              <div class="book-photo">
                <a href="/grade/?book=bk/Biology Student Textbook Grade 9.pdf" class="history-book">
                <div class="book-cover bio-g9-cover"></div>
                <div class="grade-overlay">
                  <img
                    class="grade-overlay-child"
                    alt=""
                    src="../static/public/rectangle-15.svg"
                  />

                  <div class="grade-9-wrapper">
                    <h2 class="history">Grade-9</h2>
                  </div>
                  <img
                    class="grade-overlay-item"
                    alt=""
                    src="../static/public/group-129.svg"
                  />
                </div>
                
              </div>
            </a>
            </div>
            <div class="title">
              <img class="title-child" alt="" src="../static/public/group-1291.svg" />

              <div class="history-wrapper">
                <h3 class="history">biology</h3>
              </div>
              <button class="view-more-wrapper">
                <div class="view-more">view more</div>
              </button>
            </div>
            <div class="description">
              <div class="description1">Description</div>
              <div class="lorem-ipsum-dolor">
                it covers fundamental biological concepts and topics, introducing students ...
              </div>
            </div>
          </div>
          <div class="book-box hist-g9">
            <div class="boo-cover">
              <div class="book-photo">
                <a href="/grade/?book=bk/History student textbook grade 9.pdf" class="history-book">
                <div class="book-cover hist-g9-cover"></div>
                <div class="grade-overlay">
                  <img
                    class="grade-overlay-child"
                    alt=""
                    src="../static/public/rectangle-15.svg"
                  />

                  <div class="grade-9-wrapper">
                    <h2 class="history">Grade-9</h2>
                  </div>
                  <img
                    class="grade-overlay-item"
                    alt=""
                    src="../static/public/group-129.svg"
                  />
                </div>
                
              </div>
            </a>
            </div>
            <div class="title">
              <img class="title-child" alt="" src="../static/public/group-1291.svg" />

              <div class="history-wrapper">
                <h3 class="history">history</h3>
              </div>
              <button class="view-more-wrapper">
                <div class="view-more">view more</div>
              </button>
            </div>
            <div class="description">
              <div class="description1">Description</div>
              <div class="lorem-ipsum-dolor">
                provides a comprehensive overview of the country's rich historical heritage and events.
              </div>
            </div>
          </div>
          <div class="book-box hist-g9">
            <div class="boo-cover">
              <div class="book-photo">
                <a href="/templates/hist-g9.html" class="history-book">
                <div class="book-cover hist-g9-cover"></div>
                <div class="grade-overlay">
                  <img
                    class="grade-overlay-child"
                    alt=""
                    src="../static/public/rectangle-15.svg"
                  />

                  <div class="grade-9-wrapper">
                    <h2 class="history">Grade-9</h2>
                  </div>
                  <img
                    class="grade-overlay-item"
                    alt=""
                    src="../static/public/group-129.svg"
                  />
                </div>
                
              </div>
            </a>
            </div>
            <div class="title">
              <img class="title-child" alt="" src="../static/public/group-1291.svg" />

              <div class="history-wrapper">
                <h3 class="history">history</h3>
              </div>
              <button class="view-more-wrapper">
                <div class="view-more">view more</div>
              </button>
            </div>
            <div class="description">
              <div class="description1">Description</div>
              <div class="lorem-ipsum-dolor">
                provides a comprehensive overview of the country's rich historical heritage and events.
              </div>
            </div>
          </div>
         
          
        </section>
        <div class="frame-210 slide-indicator-g9">
          <div class="slide-indicator">
            <div class="ellipse-2"></div>
            <div class="rectangle-16"></div>
            <div class="ellipse-3"></div>
            <div class="ellipse-4"></div>
          </div>
        </div>
        <section class="frame-parent">
          <div class="recommendation-parent">
            <h1 class="recommendation">recommendation</h1>
            <img class="frame-child" alt="" src="../static/public/line-1.svg" />
          </div>
          <div class="frame-group">
            <div class="frame-container">
              <button class="all-wrapper">
                <div class="all">All</div>
              </button>
              <button class="study-guide-wrapper">
                <div class="study-guide">study guide</div>
              </button>
              <button class="study-guide-wrapper">
                <div class="study-guide">Textbook</div>
              </button>
              <button class="study-guide-wrapper">
                <div class="study-guide">test</div>
              </button>
            </div>
            <div class="frame-wrapper">
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />
                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />

                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />

                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
              <div class="vector-parent">
                <img
                  class="frame-item"
                  alt=""
                  src="../static/public/rectangle-42.svg"
                />

                <div class="group-parent">
                  <img
                    class="title-child"
                    alt=""
                    src="../static/public/group-1293.svg"
                  />

                  <h3 class="history4">history</h3>
                  <button class="view-more-wrapper1">
                    <div class="view-more">view more</div>
                  </button>
                </div>
                <div class="description-parent">
                  <div class="description8">Description</div>
                  <div class="lorem-ipsum-dolor4">
                    provides a comprehensive overview of the country's rich historical heritage and events.
                  </div>
                </div>
                <img
                  class="screenshot-86-24"
                  alt=""
                  src="../static/public/screenshot-86-21@2x.png"
                />

                <div class="rectangle-div"></div>
                <div class="screenshot-86-1-parent">
                  <img
                    class="screenshot-86-14"
                    alt=""
                    src="../static/public/screenshot-86-11@2x.png"
                  />

                  <img
                    class="frame-child1"
                    alt=""
                    src="../static/public/rectangle-152.svg"
                  />

                  <h2 class="grade-94">Grade-9</h2>
                </div>
                <img
                  class="frame-child2"
                  alt=""
                  src="../static/public/group-1294.svg"
                />
              </div>
            </div>
           
            <img
              class="slide-indicator-icon"
              alt=""
              src="../static/public/slideindicator.svg"
            />
          </div>
        </section>
        <section class="frame-section">
          <div class="boo-cover">
            <div class="study-tips-parent">
              <h1 class="study-tips">Study tips</h1>
              <img class="line-icon" alt="" src="../static/public/line-11.svg" />
            </div>
          </div>
          <div class="frame-child3"></div>
        </section>
      </main>
     
    </main>
    <footer class="footer1">
      <div class="top1">
        <div class="untitled-13x-1-container">
          <img
            class="untitled-13x-1-icon5"
            alt=""
            src="../static/public/logo.svg"
          />

          <div class="miiltoo3">Miiltoo</div>
        </div>
        <div class="home-container">
          <div class="wade-warren">home</div>
          <div class="wade-warren">resource</div>
          <div class="grade-container">
            <div class="wade-warren">Grade</div>
          </div>
          <div class="pages-container">
            <div class="wade-warren">pages</div>
          </div>
          <div class="social-media-container">
            <div class="wade-warren">social media</div>
          </div>
        </div>
      </div>
      <div class="footer-child">
        <div class="frame-parent35">
          <div class="grade-group">
          <div class="wade-warren top-tag" >Home</div>

            <div class="wade-warren">Grade</div>
            <div class="wade-warren">Subject</div>
            <div class="wade-warren">Chatbot</div>
          </div>
          <div class="grade-group">
            <div class="wade-warren top-tag">Resources</div>
            <div class="wade-warren">textbook</div>
            <div class="wade-warren">study guide</div>
            <div class="wade-warren">Quize</div>
            <div class="wade-warren">Test</div>
          </div>
          <div class="grade-9-group">
            <div class="wade-warren top-tag">Grade</div>
            <div class="wade-warren">Grade-9</div>
            <div class="grade-102">
              <p class="lorem-ipsum-dolor7">grade-10</p>
            </div>
            <div class="wade-warren">grade-11</div>
            <div class="wade-warren">grade-12</div>
          </div>
          <div class="grade-9-group">
            <div class="wade-warren top-tag">Pages</div>
            <div class="wade-warren">About us</div>
            <div class="contact2">
              <p class="lorem-ipsum-dolor7">Contact</p>
            </div>
            <div class="wade-warren top-tag">FAQ</div>
            <div class="wade-warren">Privacy policy</div>
            <div class="wade-warren">Help</div>
          </div>
          <div class="grade-group">
            <div class="wade-warren top-tag">Social media</div>
            <div class="wade-warren">Twitter</div>
            <div class="wade-warren">linkedIn</div>
            <div class="wade-warren">Facebook</div>
            <div class="wade-warren">Telegram</div>
          </div>
        </div>
      </div>
      <div class="frame-footer">
        <img
          class="untitled-13x-1-icon5"
          alt=""
          src="../static/public/logo.svg"
        />

        <div class="footer-text1">
          © 2023 Miiltoo ai-based chatbot. All rights reserved.
        </div>
      </div>
    </footer>

    <script>
      var homeText1 = document.getElementById("homeText1");
      if (homeText1) {
        homeText1.addEventListener("click", function (e) {
          // Please sync "home" to the project
        });
      }
    </script>
  </body>
</html>