<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  </head>
  <body class="bod">
    <header class="header1" id="header">
      <div class="miiltoo-group">
        <div class="miiltoo2">
          <img
            class="untitled-13x-1-icon3"
            alt=""
            src="../static/public/logo.svg"
          />
          Miiltoo
        </div>
      </div>
      <nav class="home-group">
        <a href="/index/"><div class="wade-warren">Home</div></a>
        <div class="dropdown">
          <button class="wade-warren dropbtn">Grade</button>
          <div class="dropdown-content">
            <a href="/grade/">Grade-9</a>
            <a href="#">Grade-10(soon)</a>
            <a href="#">Grade-11(soon)</a>
            <a href="#">Grade-12(soon)</a>
          </div>
        </div>
        <a href="/quiz/"><div class="wade-warren">Exam</div></a>
        <a href=""><div class="wade-warren">Pages</div></a>
        <a href=""><div class="wade-warren">
          <button></button>
        </div></a>
        <a href=""><div class="wade-warren">Pages</div></a>
          <div class="login1">Login</div>
          <button class="signup-container" autofocus id="btn-signup">
            <div class="signup1">Signup</div>
          </button>
      </nav>
      <div class="login-group">
        <div class="login1"><a href="/login">Login</a></div>
        <button class="signup-container" autofocus id="btn-signup">
          <div class="signup1">Signup</div>
        </button>
      </div>
      <div class="hamb-menu" id="hamb-menu">
       <!-- <i class="fa-solid fa-bars-staggered hamb-menu-icon"></i>-->
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
     
    </header>
    <main class="frammodify-1">
      <div class="overlay-nav" id="overlay-nav"></div>
      <section class="hero-section" id="hero">
        <div class="hero">
          <img class="hero-child" alt="" src="../static/public/hero-bg.png" />

        
         
          <div class="frame-parent16">
            <div class="frame-parent17">
              <div class="headline1">
                Elevate Education with AI-Powered Services
              </div>
              <div class="lorem-ipsum-dolor-container5">
                <p class="lorem-ipsum-dolor7">
                  " Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id es "
                </p>
              </div>
              <div class="frame-wrapper">
                <button class="frame-button" autofocus>
                  <div class="explore-now4">Explore now</div>
                </button>
              </div>
            </div>
            <img
              class="untitled-13x-1-icon4"
              alt=""
              src="../static/public/robot-1.png"
            />
          </div>
        </div>
      </section>
      <section class="frame-parent18" id="feature">
        <div class="features-group">
          <h1 class="features1">features</h1>
        </div>
        <div class="frame-parent19">
          <div class="rectangle-parent1">
            <img class="frame-child6" src="/static/public/personalization.png">
            <h2 class="personalized-learning1">personalized learning</h2>
            <div class="this-feature-ensures1">
              This feature ensures that students receive tailored support and
              resources that align with their individual learning needs.
            </div>
          </div>
          <div class="rectangle-parent1">
            <img class="frame-child6" src="/static/public/conversation.png">
            <h2 class="personalized-learning1">interactive conversation</h2>
            <div class="promotes-active-learning1">
              promotes active learning and encourages students to actively
              participate in their educational journey.
            </div>
          </div>
          <div class="rectangle-parent1">
            <img class="frame-child6" src="/static/public/resource.png">
            <h2 class="personalized-learning1">comprehensive Resource</h2>
            <div class="ensures-that-students1">
              ensures that students have access to comprehensive learning
              materials that support their academic progress.
            </div>
          </div>
        </div>
      </section>
      <section class="resource2">
        <div class="resource-group">
          <h1 class="resource3">resource</h1>
          <img
            class="frame-child5"
            alt=""
            src="../static/public/line-111.svg"
          />
        </div>
        <div class="frame-parent20">
          <button class="all-container">
            <div class="all1">All</div>
          </button>
          <button class="study-guide-container study-guide2">
            study-Guide
          </button>
          <button class="study-guide-container">
            <div class="study-guide2">Textbook</div>
          </button>
          <button class="study-guide-container" autofocus>
            <div class="study-guide2">test</div>
          </button>
        </div>
        <div class="frame-parent21">
          <div class="vector-container">
            <img
              class="frame-child10"
              alt=""
              src="../static/public/bio-g9-cover.svg"
            />

            <div class="group-parent1">
              <h3 class="history3">Biology</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                provides a comprehensive overview of the country's rich
                historical heritage and events.
              </div>
            </div>
          </div>
          <div class="vector-container">
            <img
              class="frame-child10"
              alt=""
              src="../static/public/hist-g9-cover.svg"
            />

            <div class="group-parent1">
              <h3 class="history3">history</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                provides a comprehensive overview of the country's rich
                historical heritage and events.
              </div>
            </div>
          </div>
          <div class="vector-container">
            <img
              class="frame-child10"
              alt=""
              src="../static/public/bio-g10-cover.svg"
            />

            <div class="group-parent1">
              <h3 class="history3">history</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                provides a comprehensive overview of the country's rich
                historical heritage and events.
              </div>
            </div>
          </div>
          <div class="vector-container">
            <img
              class="frame-child10"
              alt=""
              src="../static/public/coming-soon-bk-cover.svg"
            />

            <div class="group-parent1">
              <h3 class="history3">history</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                provides a comprehensive overview of the country's rich
                historical heritage and events.
              </div>
            </div>
          </div>
          <div class="vector-container">
            <img
              class="frame-child10"
              alt=""
              src="../static/public/coming-soon-bk-cover.svg"
            />

            <div class="group-parent1">
              <h3 class="history3">history</h3>
              <button class="view-more-wrapper1">
                <div class="view-more3">view more</div>
              </button>
            </div>
            <div class="description-parent">
              <div class="description6">Description</div>
              <div class="lorem-ipsum-dolor8">
                provides a comprehensive overview of the country's rich
                historical heritage and events.
              </div>
            </div>
          </div>
        </div>

        <div class="frame-210 resource-slider">
          <div class="slide-indicator">
            <div class="ellipse-2"></div>
            <div class="rectangle-16"></div>
            <div class="ellipse-3"></div>
            <div class="ellipse-4"></div>
          </div>
        </div>
       
      </section>
      <section class="frame-parent22">
        <div class="frame-parent23">
          <div class="rectangle-parent4">
            <div class="frame-child30"></div>
            <div class="frame-child31"></div>
            <div class="frame-child32"></div>
            <img
              class="frame-child33"
              alt=""
              src="../static/public/boy-studing.png"
            />
          </div>
          <img
            class="frammodify-1-child"
            alt=""
            src="../static/public/rectangle-8.svg"
          />
        </div>
        <div class="frame-parent24" >
            <div class="frame-parent17" id="headline-2">
              <h2>
                Knowledge is Power
              </h2>
              <div class="lorem-ipsum-dolor-container5">
                <p class="lorem-ipsum-dolor7">
                  " we provied Educational Advancement Through Innovative Generative
                  AI Solutions: Transforming Learning Experiences "
                </p>
              </div>
              <div class="frame-wrapper">
                <div class="frame-parent25">
                  <div class="search-resource-here-container">
                    <div class="search-resource-here1">search resource ...</div>
                  </div>
                  <button class="search-container">
                    <div class="search1">search</div>
                  </button>
                </div>
              </div>
            </div>
           <!-- <div class="robot-box">
              <img
              class="frammodify-1-item"
              alt=""
              src="../static/public/robot-2.png"
            />
                  <img
              class="frammodify-1-item"
              alt=""
              src="../static/public/robot-vector.svg"
            />
            </div>-->
          
          </div>
        
        </div>
      </section>
      <section class="frame-parent26">
        <div class="testimony-group">
          <h1 class="resource3">testimony</h1>
         <div class="testimony-line"></div>
        </div>
        <div class="review-item">
          <div class="frame-parent17 review-box">
            <div class="lorem-ipsum-dolor-container5">
<p class="lorem-ipsum-dolor7">
" For our educational institution, using the generative AI
solutions from this website has been a game-changer.
Learning is now interesting and catered to the needs of each
student thanks to the individualized material it produces."
</p>
</div>
<div class="reviews-parent1">
<div class="wade-warren">reviews</div>
<div class="frame-parent29">
<img
class="frame-icon18"
alt=""
src="../static/public/yelow-star.png"
/>

<img
class="frame-icon18"
alt=""
src="../static/public/yelow-star.png"
/>
<img
class="frame-icon18"
alt=""
src="../static/public/yelow-star.png"
/>
<img
class="frame-icon18"
alt=""
src="../static/public/yelow-star.png"
/>
<img
class="frame-icon18"
alt=""
src="../static/public/black-star.png"
/>
</div>
</div>
</div>
<div class="vector-parent4">
<img
class="frame-child35"
alt=""
src="../static/public/person1.svg"
/>

<div class="wade-warren-wrapper">
<div class="wade-warren">Weynishet Andargacew</div>
</div>
<div class="profession-wrapper1">
<div class="wade-warren">profession : highschool teacher</div>
</div>
</div>
        </div>
         
        <div class="frame-210">
          <div class="slide-indicator">
            <div class="ellipse-2"></div>
            <div class="rectangle-16"></div>
            <div class="ellipse-3"></div>
            <div class="ellipse-4"></div>
          </div>
        </div>
      </section>
      <section class="frame-parent34">
        <div class="contact-us-group">
          <h1 class="resource3">contact us</h1>
        </div>
        <div class="contact-box">
      
          <div class="fullname-box">
            <div class="frame-221">
              <div class="full-name">Full Name</div>
            </div>
            <div class="frame-222">
              <input type="text" class="username-or-email"placeholder="fullname">
              <svg
                class="icon-user"
                width="21"
                height="25"
                viewBox="0 0 21 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.5 12.7383C13.8141 12.7383 16.5 10.0523 16.5 6.73828C16.5 3.42422 13.8141 0.738281 10.5 0.738281C7.18594 0.738281 4.5 3.42422 4.5 6.73828C4.5 10.0523 7.18594 12.7383 10.5 12.7383ZM14.7 14.2383H13.9172C12.8766 14.7164 11.7188 14.9883 10.5 14.9883C9.28125 14.9883 8.12813 14.7164 7.08281 14.2383H6.3C2.82187 14.2383 0 17.0602 0 20.5383V22.4883C0 23.7305 1.00781 24.7383 2.25 24.7383H18.75C19.9922 24.7383 21 23.7305 21 22.4883V20.5383C21 17.0602 18.1781 14.2383 14.7 14.2383Z"
                  fill="#042E41"
                />
              </svg>
            </div>
          </div>
          <div class="email-box">
            <div class="frame-221">
              <div class="email">email</div>
            </div>
            <div class="frame-222">
              <input type="text" class="username-or-email"placeholder="email">

              <svg
                class="icon-envelope"
                width="31"
                height="25"
                viewBox="0 0 31 25"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30.4127 8.66328C30.6488 8.46953 31 8.65078 31 8.95703V21.7383C31 23.3945 29.6982 24.7383 28.0938 24.7383H2.90625C1.30176 24.7383 0 23.3945 0 21.7383V8.96328C0 8.65078 0.345117 8.47578 0.587305 8.66953C1.94355 9.75703 3.7418 11.1383 9.91758 15.7695C11.1951 16.732 13.3506 18.757 15.5 18.7445C17.6615 18.7633 19.8594 16.6945 21.0885 15.7695C27.2643 11.1383 29.0564 9.75078 30.4127 8.66328ZM15.5 16.7383C16.9047 16.7633 18.927 14.9133 19.9441 14.1508C27.9787 8.13203 28.5902 7.60703 30.443 6.10703C30.7941 5.82578 31 5.38828 31 4.92578V3.73828C31 2.08203 29.6982 0.738281 28.0938 0.738281H2.90625C1.30176 0.738281 0 2.08203 0 3.73828V4.92578C0 5.38828 0.205859 5.81953 0.557031 6.10703C2.40977 7.60078 3.02129 8.13203 11.0559 14.1508C12.073 14.9133 14.0953 16.7633 15.5 16.7383Z"
                  fill="#042E41"
                />
              </svg>
            </div>
          </div>
          <div class="meassage-box">
            <div class="frame-221">
              <div class="message">Message</div>
            </div>
            <div class="frame-2222">
              <textarea name="message" class="username-or-email" id="" cols="30" rows="6" placeholder="meassage here .."></textarea>
            </div>
          </div>
          <div class="send-btn">
            <svg
              class="send-undefined"
              width="25"
              height="25"
              viewBox="0 0 25 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.3147 12.9352L5.78344 14.1904C5.60705 14.2198 5.45979 14.3412 5.39723 14.5087L2.79933 21.4661C2.55066 22.1056 3.22008 22.7156 3.83375 22.4088L21.8337 13.4088C22.3865 13.1324 22.3865 12.3435 21.8337 12.0671L3.83375 3.06713C3.22008 2.76029 2.55066 3.37034 2.79933 4.00978L5.39723 10.9672C5.45979 11.1347 5.60705 11.2561 5.78344 11.2855L13.3147 12.5407C13.4236 12.5588 13.4972 12.6619 13.4791 12.7708C13.465 12.8551 13.399 12.9212 13.3147 12.9352Z"
                fill="#042E41"
              />
            </svg>

            <div class="send-message">Send message</div>
          </div>
        </div>
      </section>
      </main>
      <footer class="footer1">
        <div class="top1">
          <div class="untitled-13x-1-container">
            <img
              class="untitled-13x-1-icon5"
              alt=""
              src="../static/public/logo.svg"
            />

            <div class="miiltoo3">Miiltoo</div>
          </div>
          <div class="home-container">
            <div class="wade-warren">home</div>
            <div class="wade-warren">resource</div>
            <div class="grade-container">
              <div class="wade-warren">Grade</div>
            </div>
            <div class="pages-container">
              <div class="wade-warren">pages</div>
            </div>
            <div class="social-media-container">
              <div class="wade-warren">social media</div>
            </div>
          </div>
        </div>
        <div class="footer-child">
          <div class="frame-parent35">
            <div class="grade-group">
            <div class="wade-warren top-tag" >Home</div>

              <div class="wade-warren">Grade</div>
              <div class="wade-warren">Subject</div>
              <div class="wade-warren">Chatbot</div>
            </div>
            <div class="grade-group">
              <div class="wade-warren top-tag">Resources</div>
              <div class="wade-warren">textbook</div>
              <div class="wade-warren">study guide</div>
              <div class="wade-warren">Quize</div>
              <div class="wade-warren">Test</div>
            </div>
            <div class="grade-9-group">
              <div class="wade-warren top-tag">Grade</div>
              <div class="wade-warren">Grade-9</div>
              <div class="grade-102">
                <p class="lorem-ipsum-dolor7">grade-10</p>
              </div>
              <div class="wade-warren">grade-11</div>
              <div class="wade-warren">grade-12</div>
            </div>
            <div class="grade-9-group">
              <div class="wade-warren top-tag">Pages</div>
              <div class="wade-warren">About us</div>
              <div class="contact2">
                <p class="lorem-ipsum-dolor7">Contact</p>
              </div>
              <div class="wade-warren top-tag">FAQ</div>
              <div class="wade-warren">Privacy policy</div>
              <div class="wade-warren">Help</div>
            </div>
            <div class="grade-group">
              <div class="wade-warren top-tag">Social media</div>
              <div class="wade-warren">Twitter</div>
              <div class="wade-warren">linkedIn</div>
              <div class="wade-warren">Facebook</div>
              <div class="wade-warren">Telegram</div>
            </div>
          </div>
        </div>
        <div class="frame-footer">
          <img
            class="untitled-13x-1-icon5"
            alt=""
            src="../static/public/logo.svg"
          />

          <div class="footer-text1">
            © 2023 Miiltoo ai-based chatbot. All rights reserved.
          </div>
        </div>
      </footer>
    </div>
    <script src="/static/js/new.js"></script>
    <script>
      var login = document.querySelector(".login1");
      var signup = document.querySelector(".signup1");

      var loggedIn =  session['logged_in'];

      // Now you can use the 'loggedIn' JavaScript variable to manipulate information.
      if (loggedIn) {
        login.innerHTML = "<a href=\"/logout\">Logout</a>";
        signup.innerHTML="{{session['name']}}";
          console.log('User is logged in');
      } else {
          // User is not logged in, do something else.
          console.log('User is not logged in');
      }
  </script>
  </body>
</html>
