<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="../static/css/subject-global.css" />
    <link rel="stylesheet" href="../static/css/subject.css" />
    <link rel="stylesheet" href="../static/css/chatbot-global.css" />
    <link rel="stylesheet" href="../static/css/chatbot.css" />
    <link rel="stylesheet" href="../static/css/chatbot-result-global.css" />
    <link rel="stylesheet" href="../static/css/chatbot-result.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Serif Pro:wght@300;400;600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap"
    />
  </head>
  <body>
    <header>

    <div class="top-menu">
      <div class="header-parent">
        <div class="header">
          <div class="header-child"></div>
          <div class="miiltoo-parent">
            <div class="miiltoo1">Miiltoo</div>
            <img
              class="untitled-13x-1-icon2"
              alt=""
              src="../static/public/untitled13x-12@2x.png"
            />
          </div>
          <nav class="home-group">
            <a href="/"><div class="wade-warren">Home</div></a>
            <a href="/grade/"><div class="wade-warren">Grade</div></a>
            <a href=""><div class="wade-warren">Quize</div></a>
            <a href=""><div class="wade-warren">pages</div></a>
          </nav>
          <div class="login-parent">
            <div class="login">login</div>
            <button class="signup-wrapper">
              <div class="signup">Signup</div>
            </button>
          </div>
        </div>
      </div>
    </header>
    </div>
    <main>
    <iframe
      src="/static/resource/History student textbook grade 9.pdf"
      frameborder="0"
      width="90%"
      height="900px"
      class="pdf-section"
    ></iframe>
    
    <div class="side-bar">
        
        <button class="chatbot-btn">
          <img
            class="untitled-13x-1-icon3"
            alt=""
            src="../static/public/untitled13x-13@2x.png"
          />
        </button>
        <div class="side-bar-inner">
          <div class="bg-parent">
            <img class="bg-icon" alt="" src="../static/public/bg.svg" />

            <div class="what-can-i">what can i help ?</div>
          </div>
        </div>
      </div>

     
      <section class="result hidden">
        <div class="frame-parent">
          <div class="untitled-13x-1-parent">
            <img
              class="untitled-13x-1-icon"
              alt=""
              src="../static/public/untitled13x-1@2x.png"
            />
  
            <h2 class="miiltoo">miiltoo</h2>
            <button class="close-result">
              <img class="union-icon" alt="" src="../static/public/union.svg" />
            </button>
          </div>
          <div class="frame-group">
            <div class="frame-wrapper">
              <div class="frame-container">
                <div class="frame-div">
                  <div class="vector-parent">
                    <img
                      class="vector-icon"
                      alt=""
                      src="../static/public/vector.svg"
                    />
  
                    <div class="chat">chat</div>
                  </div>
                  <div class="toggle-btn">
                    <div class="toggle-btn-child"></div>
                    <div class="toggle-btn-item"></div>
                  </div>
                </div>
                <div class="frame-child"></div>
              </div>
            </div>
            <div class="group-parent">
              <img
                class="frame-item"
                alt=""
                src="../static/public/group-129.svg"
              />
  
              <div class="subject-wrapper">
                <div class="chat">subject :</div>
              </div>
              <div class="history-wrapper">
                <div class="history">history</div>
              </div>
            </div>
          </div>
        </div>
        <fieldset class="result-inner">
          <div class="vector-group">
            <img class="vector-icon1" alt="" src="../static/public/vector1.svg" />
            <form>
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                  type="text"
                  class="form-control promtTextArea"
                  id="prompt"
                  placeholder="ask anything here.. "
                ></textarea>
              
                <button type="submit" class="btn btn-primary" id="ask-btn">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="../static/public/vector2.svg"
                  />
                  <div class="ask">Ask</div>
                </button>
              <button class="btn-primary" id="wait_btn">
                  <img class="vector-icon2" alt="" src="../static/public/vector2.svg" />
                  <div class="ask">Wait</div>
              </button>
            </form>
          </div>
        </fieldset>
        
  
        <div class="group-container">
          <img class="frame-inner" alt="" src="../static/public/group-131.svg" />
  
          <div class="chat">Result</div>
        </div>
        <section class="frame-section">
          <div class="frame-parent1">
            <img class="frame-icon" alt="" src="../static/public/frame.svg" />
  
            <div class="lorem-ipsum-dolor-container" id="response"></div>
          </div>
        
        </section>
        <div class="copy-select-undefined-parent">
          <img
            class="copy-select-undefined"
            alt=""
            src="../static/public/copy-select--undefined.svg"
          />
        </div>
        <div class="copy-select-undefined-group">
          <img
            class="copy-select-undefined"
            alt=""
            src="../static/public/copy-select--undefined.svg"
          />
  
          <img
            class="copy-select-undefined"
            alt=""
            src="../static/public/edit--undefined.svg"
          />
  
          <img
            class="copy-select-undefined"
            alt=""
            src="../static/public/delete--undefined.svg"
          />
        </div>
      </section>


    </main>
    <footer class="footer1">
      <div class="top1">
        <div class="untitled-13x-1-container">
          <img
            class="untitled-13x-1-icon5"
            alt=""
            src="../static/public/logo.png"
          />

          <div class="miiltoo3">Miiltoo</div>
        </div>
        <div class="home-container">
          <div class="wade-warren">home</div>
          <div class="wade-warren">resource</div>
          <div class="grade-container">
            <div class="wade-warren">Grade</div>
          </div>
          <div class="pages-container">
            <div class="wade-warren">pages</div>
          </div>
          <div class="social-media-container">
            <div class="wade-warren">social media</div>
          </div>
        </div>
      </div>
      <div class="footer-child">
        <div class="frame-parent35">
          <div class="grade-group">
            <div class="wade-warren">Grade</div>
            <div class="wade-warren">Subject</div>
            <div class="wade-warren">Chatbot</div>
          </div>
          <div class="grade-group">
            <div class="wade-warren">textbook</div>
            <div class="wade-warren">study guide</div>
            <div class="wade-warren">Quize</div>
            <div class="wade-warren">Test</div>
          </div>
          <div class="grade-9-group">
            <div class="wade-warren">Grade-9</div>
            <div class="grade-102">
              <p class="lorem-ipsum-dolor7">grade-10</p>
            </div>
            <div class="wade-warren">grade-11</div>
            <div class="wade-warren">grade-12</div>
          </div>
          <div class="grade-9-group">
            <div class="wade-warren">About us</div>
            <div class="contact2">
              <p class="lorem-ipsum-dolor7">Contact</p>
            </div>
            <div class="wade-warren">FAQ</div>
            <div class="wade-warren">Privacy policy</div>
            <div class="wade-warren">Help</div>
          </div>
          <div class="grade-group">
            <div class="wade-warren">Twitter</div>
            <div class="wade-warren">linkedIn</div>
            <div class="wade-warren">Facebook</div>
            <div class="wade-warren">Telegram</div>
          </div>
        </div>
      </div>
      <div class="frame-footer">
        <img
          class="untitled-13x-1-icon5"
          alt=""
          src="../static/public/logo.png"
        />

        <div class="footer-text1">
          © 2023 Miiltoo ai-based chatbot. All rights reserved.
        </div>
      </div>
    </footer>

    <script src="../static/js/script-loading.js"></script>
    <script src="../static/js/chatbot.js"></script>
  </body>
</html>
