accelerate
alembic
altair
annotated-types
antlr4-python3-runtime
anyio
asttokens
async-timeout
attrs
autopep8
backoff
BareNecessities
bcrypt
beautifulsoup4
bitsandbytes
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
class-registry
click
colorama
coloredlogs
contourpy
cryptography
ctypesgen
cycler
dataclasses-json
distlib
effdet
einops
embeddings
emoji
exceptiongroup
executing
executor
fairscale
faiss-cpu
fastapi
fasteners
filelock
filetype
filters
fire
Flask
Flask-Admin
Flask-Bcrypt
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-auth
google-auth-oauthlib
greenlet
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-metadata
importiconfig==1.0.0
iopath
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
langchain
langsmith
layoutparser
littleutils
lxml
magic-filter
Mail
Mako
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
monotonic
mpmath
multidict
mypy-extensions
networkx
nltk
numexpr
numpy
nvidia-smi
oauth2
oauthlib
omegaconf
onnxruntime
openai
opencv-python
overrides
packaging
pandas
passlib
pdf2image
pdfminer.six
pdfplumber
Pillow
platformdirs
pluggy
portalocker
posthog
property-manager
protobuf
psutil
pulsar-client
pyarrow
pyasn1
pyasn1-modules
pycocotools
pycodestyle
pycparser
pydantic
pydantic_core
pydeck
pygame
Pygments
pyparsing
PyPDF2
pypdfium2
PyPika
pyreadline3
pyTelegramBotAPI
pytesseract
pytest
python-dateutil
python-dotenv
python-magic
python-multipart
python-telegram-bot
pytz
pywin32
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scipy
sentencepiece
six
smmap
sniffio
sorcery
soupsieve
SQLAlchemy
starlette
streamlit
style
sympy
tabulate
telebot
telegram
tenacity
termcolor
tiktoken
timm
tokenizers
toml
tomli
toolz
torch
torchvision
tornado
tqdm
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured
unstructured-inference
update
urllib3
uvicorn
validators
verboselogs
virtualenv
watchdog
watchfiles
websockets
Werkzeug
wrapt
WTForms
yarl
zipp
